General{Width:2000;Height:1000;Layers:10;Sprites:172;SpritesFront:0;Polys:0;Baselines:0;Triggers:0;Particles:0;Savepoints:0;}
sprite1{x:532;y:299;layer:4;image:Grass Block.png;}
sprite2{x:631;y:299;layer:4;image:Grass Block.png;}
sprite3{x:732;y:299;layer:4;image:Grass Block.png;}
sprite4{x:831;y:299;layer:4;image:Grass Block.png;}
sprite5{x:531;y:382;layer:4;image:Grass Block.png;}
sprite6{x:630;y:382;layer:4;image:Grass Block.png;}
sprite7{x:731;y:382;layer:4;image:Grass Block.png;}
sprite8{x:830;y:382;layer:4;image:Grass Block.png;}
sprite9{x:529;y:466;layer:4;image:Grass Block.png;}
sprite10{x:628;y:466;layer:4;image:Grass Block.png;}
sprite11{x:729;y:466;layer:4;image:Grass Block.png;}
sprite12{x:828;y:466;layer:4;image:Grass Block.png;}
sprite13{x:134;y:670;layer:5;image:Dirt Block.png;}
sprite14{x:235;y:670;layer:5;image:Dirt Block.png;}
sprite15{x:336;y:669;layer:5;image:Dirt Block.png;}
sprite16{x:437;y:669;layer:5;image:Dirt Block.png;}
sprite17{x:538;y:669;layer:5;image:Dirt Block.png;}
sprite18{x:639;y:669;layer:5;image:Dirt Block.png;}
sprite19{x:740;y:668;layer:5;image:Dirt Block.png;}
sprite20{x:841;y:668;layer:5;image:Dirt Block.png;}
sprite21{x:942;y:668;layer:5;image:Dirt Block.png;}
sprite22{x:135;y:299;layer:5;image:Grass Block.png;}
sprite23{x:234;y:299;layer:5;image:Grass Block.png;}
sprite24{x:334;y:670;layer:5;image:Dirt Block.png;}
sprite25{x:435;y:670;layer:5;image:Dirt Block.png;}
sprite26{x:536;y:669;layer:5;image:Dirt Block.png;}
sprite27{x:637;y:669;layer:5;image:Dirt Block.png;}
sprite28{x:738;y:669;layer:5;image:Dirt Block.png;}
sprite29{x:839;y:669;layer:5;image:Dirt Block.png;}
sprite30{x:940;y:668;layer:5;image:Dirt Block.png;}
sprite31{x:1041;y:668;layer:5;image:Dirt Block.png;}
sprite32{x:1142;y:668;layer:5;image:Dirt Block.png;}
sprite33{x:335;y:299;layer:5;image:Grass Block.png;}
sprite34{x:434;y:299;layer:5;image:Grass Block.png;}
sprite35{x:134;y:382;layer:5;image:Grass Block.png;}
sprite36{x:233;y:382;layer:5;image:Grass Block.png;}
sprite37{x:334;y:382;layer:5;image:Grass Block.png;}
sprite38{x:433;y:382;layer:5;image:Grass Block.png;}
sprite39{x:132;y:466;layer:5;image:Grass Block.png;}
sprite40{x:231;y:466;layer:5;image:Grass Block.png;}
sprite41{x:332;y:466;layer:5;image:Grass Block.png;}
sprite42{x:431;y:466;layer:5;image:Grass Block.png;}
sprite43{x:638;y:625;layer:5;image:Selector.png;}
sprite44{x:326;y:644;layer:5;image:Character Boy.png;}
sprite45{x:836;y:642;layer:5;image:Character Horn Girl.png;}
sprite46{x:1043;y:408;layer:7;image:Dirt Block.png;}
sprite47{x:1144;y:407;layer:7;image:Dirt Block.png;}
sprite48{x:1245;y:407;layer:7;image:Dirt Block.png;}
sprite49{x:1346;y:407;layer:7;image:Dirt Block.png;}
sprite50{x:1447;y:407;layer:7;image:Dirt Block.png;}
sprite51{x:1548;y:406;layer:7;image:Dirt Block.png;}
sprite52{x:1649;y:406;layer:7;image:Dirt Block.png;}
sprite53{x:1043;y:494;layer:7;image:Dirt Block.png;}
sprite54{x:1144;y:493;layer:7;image:Dirt Block.png;}
sprite55{x:1245;y:493;layer:7;image:Dirt Block.png;}
sprite56{x:1346;y:493;layer:7;image:Dirt Block.png;}
sprite57{x:1447;y:493;layer:7;image:Dirt Block.png;}
sprite58{x:1548;y:492;layer:7;image:Dirt Block.png;}
sprite59{x:1649;y:492;layer:7;image:Dirt Block.png;}
sprite60{x:1043;y:581;layer:7;image:Dirt Block.png;}
sprite61{x:1144;y:580;layer:7;image:Dirt Block.png;}
sprite62{x:1245;y:580;layer:7;image:Dirt Block.png;}
sprite63{x:1346;y:580;layer:7;image:Dirt Block.png;}
sprite64{x:1447;y:580;layer:7;image:Dirt Block.png;}
sprite65{x:1548;y:579;layer:7;image:Dirt Block.png;}
sprite66{x:1649;y:579;layer:7;image:Dirt Block.png;}
sprite67{x:1243;y:408;layer:7;image:Dirt Block.png;}
sprite68{x:1344;y:407;layer:7;image:Dirt Block.png;}
sprite69{x:1445;y:407;layer:7;image:Dirt Block.png;}
sprite70{x:1546;y:407;layer:7;image:Dirt Block.png;}
sprite71{x:1647;y:407;layer:7;image:Dirt Block.png;}
sprite72{x:1748;y:406;layer:7;image:Dirt Block.png;}
sprite73{x:1849;y:406;layer:7;image:Dirt Block.png;}
sprite74{x:1243;y:494;layer:7;image:Dirt Block.png;}
sprite75{x:1344;y:493;layer:7;image:Dirt Block.png;}
sprite76{x:1445;y:493;layer:7;image:Dirt Block.png;}
sprite77{x:1546;y:493;layer:7;image:Dirt Block.png;}
sprite78{x:1647;y:493;layer:7;image:Dirt Block.png;}
sprite79{x:1748;y:492;layer:7;image:Dirt Block.png;}
sprite80{x:1849;y:492;layer:7;image:Dirt Block.png;}
sprite81{x:1243;y:581;layer:7;image:Dirt Block.png;}
sprite82{x:1344;y:580;layer:7;image:Dirt Block.png;}
sprite83{x:1445;y:580;layer:7;image:Dirt Block.png;}
sprite84{x:1546;y:580;layer:7;image:Dirt Block.png;}
sprite85{x:1647;y:580;layer:7;image:Dirt Block.png;}
sprite86{x:1748;y:579;layer:7;image:Dirt Block.png;}
sprite87{x:1849;y:579;layer:7;image:Dirt Block.png;}
sprite88{x:1441;y:381;layer:7;image:Star.png;}
sprite89{x:1643;y:549;layer:7;image:Star.png;}
sprite90{x:1243;y:540;layer:7;image:Stone Block Tall.png;}
sprite91{x:1341;y:541;layer:7;image:Stone Block Tall.png;}
sprite92{x:1042;y:370;layer:7;image:Tree Short.png;}
sprite93{x:1138;y:380;layer:7;image:Tree Short.png;}
sprite94{x:1249;y:371;layer:7;image:Tree Short.png;}
sprite95{x:1048;y:463;layer:7;image:Tree Short.png;}
sprite96{x:1045;y:552;layer:7;image:Tree Short.png;}
sprite97{x:223;y:287;layer:7;image:Tree Ugly.png;}
sprite98{x:300;y:288;layer:7;image:Tree Ugly.png;}
sprite99{x:371;y:289;layer:7;image:Tree Ugly.png;}
sprite100{x:448;y:292;layer:7;image:Tree Ugly.png;}
sprite101{x:502;y:292;layer:7;image:Tree Ugly.png;}
sprite102{x:579;y:293;layer:7;image:Tree Ugly.png;}
sprite103{x:650;y:294;layer:7;image:Tree Ugly.png;}
sprite104{x:727;y:297;layer:7;image:Tree Ugly.png;}
sprite105{x:224;y:368;layer:7;image:Tree Ugly.png;}
sprite106{x:301;y:369;layer:7;image:Tree Ugly.png;}
sprite107{x:372;y:370;layer:7;image:Tree Ugly.png;}
sprite108{x:449;y:373;layer:7;image:Tree Ugly.png;}
sprite109{x:503;y:373;layer:7;image:Tree Ugly.png;}
sprite110{x:580;y:374;layer:7;image:Tree Ugly.png;}
sprite111{x:651;y:375;layer:7;image:Tree Ugly.png;}
sprite112{x:728;y:378;layer:7;image:Tree Ugly.png;}
sprite113{x:349;y:433;layer:7;image:Enemy Bug.png;}
sprite114{x:624;y:435;layer:7;image:Enemy Bug.png;}
sprite115{x:1043;y:668;layer:8;image:Dirt Block.png;}
sprite116{x:1144;y:667;layer:8;image:Dirt Block.png;}
sprite117{x:1245;y:667;layer:8;image:Dirt Block.png;}
sprite118{x:1346;y:667;layer:8;image:Dirt Block.png;}
sprite119{x:1447;y:667;layer:8;image:Dirt Block.png;}
sprite120{x:1548;y:666;layer:8;image:Dirt Block.png;}
sprite121{x:1649;y:666;layer:8;image:Dirt Block.png;}
sprite122{x:1043;y:754;layer:8;image:Dirt Block.png;}
sprite123{x:1144;y:753;layer:8;image:Dirt Block.png;}
sprite124{x:1245;y:753;layer:8;image:Dirt Block.png;}
sprite125{x:1346;y:753;layer:8;image:Dirt Block.png;}
sprite126{x:1447;y:753;layer:8;image:Dirt Block.png;}
sprite127{x:1548;y:752;layer:8;image:Dirt Block.png;}
sprite128{x:1649;y:752;layer:8;image:Dirt Block.png;}
sprite129{x:1043;y:841;layer:8;image:Dirt Block.png;}
sprite130{x:1144;y:840;layer:8;image:Dirt Block.png;}
sprite131{x:1245;y:840;layer:8;image:Dirt Block.png;}
sprite132{x:1346;y:840;layer:8;image:Dirt Block.png;}
sprite133{x:1447;y:840;layer:8;image:Dirt Block.png;}
sprite134{x:1548;y:839;layer:8;image:Dirt Block.png;}
sprite135{x:1649;y:839;layer:8;image:Dirt Block.png;}
sprite136{x:1243;y:668;layer:8;image:Dirt Block.png;}
sprite137{x:1344;y:667;layer:8;image:Dirt Block.png;}
sprite138{x:1445;y:667;layer:8;image:Dirt Block.png;}
sprite139{x:1546;y:667;layer:8;image:Dirt Block.png;}
sprite140{x:1647;y:667;layer:8;image:Dirt Block.png;}
sprite141{x:1748;y:666;layer:8;image:Dirt Block.png;}
sprite142{x:1849;y:666;layer:8;image:Dirt Block.png;}
sprite143{x:1243;y:754;layer:8;image:Dirt Block.png;}
sprite144{x:1344;y:753;layer:8;image:Dirt Block.png;}
sprite145{x:1445;y:753;layer:8;image:Dirt Block.png;}
sprite146{x:1546;y:753;layer:8;image:Dirt Block.png;}
sprite147{x:1647;y:753;layer:8;image:Dirt Block.png;}
sprite148{x:1748;y:752;layer:8;image:Dirt Block.png;}
sprite149{x:1849;y:752;layer:8;image:Dirt Block.png;}
sprite150{x:1243;y:841;layer:8;image:Dirt Block.png;}
sprite151{x:1344;y:840;layer:8;image:Dirt Block.png;}
sprite152{x:1445;y:840;layer:8;image:Dirt Block.png;}
sprite153{x:1546;y:840;layer:8;image:Dirt Block.png;}
sprite154{x:1647;y:840;layer:8;image:Dirt Block.png;}
sprite155{x:1748;y:839;layer:8;image:Dirt Block.png;}
sprite156{x:1849;y:839;layer:8;image:Dirt Block.png;}
sprite157{x:1544;y:717;layer:8;image:Star.png;}
sprite158{x:1040;y:732;layer:8;image:Tree Short.png;}
sprite159{x:1037;y:811;layer:8;image:Tree Short.png;}
sprite160{x:1118;y:814;layer:8;image:Tree Short.png;}
sprite161{x:1189;y:813;layer:8;image:Tree Short.png;}
sprite162{x:1287;y:818;layer:8;image:Tree Short.png;}
sprite163{x:1376;y:806;layer:8;image:Tree Tall.png;}
sprite164{x:1459;y:805;layer:8;image:Tree Tall.png;}
sprite165{x:1546;y:804;layer:8;image:Tree Tall.png;}
sprite166{x:1633;y:805;layer:8;image:Tree Tall.png;}
sprite167{x:1727;y:800;layer:8;image:Tree Tall.png;}
sprite168{x:1827;y:797;layer:8;image:Tree Tall.png;}
sprite169{x:1538;y:456;layer:8;image:Character Princess Girl.png;}
sprite170{x:1752;y:620;layer:8;image:Character Pink Girl.png;}
sprite171{x:1847;y:374;layer:8;image:Door Tall Closed.png;}
sprite172{x:1294;y:457;layer:8;image:Gem Blue.png;}
