General{Width:14000;Height:3000;Layers:10;Sprites:330;SpritesFront:0;Polys:49;Baselines:2;Triggers:13;Particles:1;Savepoints:2;}
Properties{bg:artbg.jpg;bgAlpha:0.4;}
sprite1{x:8042;y:2859;scalex:2.00;scaley:2.00;rotation:89.00;image:Steinsammlung.png;}
sprite2{x:3098;y:2208;rotation:-4.50;image:Steinsammlung.png;}
sprite3{x:13487;y:2079;scalex:1.69;scaley:1.69;rotation:-83.62;image:Steinsammlung.png;}
sprite4{x:13775;y:2839;scalex:2.14;scaley:2.14;rotation:89.83;image:Steinsammlung.png;}
sprite5{x:8249;y:2772;scalex:2.00;scaley:2.00;rotation:89.00;image:Steinsammlung.png;}
sprite6{x:11934;y:2945;scalex:1.38;scaley:1.38;image:Steinsammlung.png;}
sprite7{x:9549;y:2926;scalex:1.38;scaley:1.38;rotation:143.16;image:Steinsammlung.png;}
sprite8{x:2210;y:2108;scalex:2.25;scaley:2.25;image:Baum 4.png;}
sprite9{x:9799;y:2786;scalex:2.00;scaley:2.00;image:Steinsammlung.png;}
sprite10{x:1323;y:2617;image:Steinsammlung.png;}
sprite11{x:7794;y:2304;scalex:1.63;scaley:1.63;rotation:60.95;image:Steinsammlung.png;}
sprite12{x:13099;y:2228;scalex:2.48;scaley:2.48;image:Steinsammlung.png;}
sprite13{x:10601;y:2609;scalex:1.63;scaley:1.63;rotation:60.95;image:Steinsammlung.png;}
sprite14{x:9697;y:2487;scalex:1.63;scaley:1.63;rotation:60.95;image:Steinsammlung.png;}
sprite15{x:8909;y:2876;scalex:1.38;scaley:1.38;rotation:143.16;image:Steinsammlung.png;}
sprite16{x:6581;y:2430;image:Steinsammlung.png;}
sprite17{x:8990;y:2063;scalex:1.19;scaley:1.75;rotation:-89.11;image:Steinsammlung.png;}
sprite18{x:8402;y:2202;scalex:1.63;scaley:1.63;rotation:60.95;image:Steinsammlung.png;}
sprite19{x:8078;y:2258;scalex:1.63;scaley:1.63;rotation:57.25;image:Steinsammlung.png;}
sprite20{x:3314;y:2164;image:Steinsammlung.png;}
sprite21{x:9708;y:1886;scalex:2.41;scaley:2.41;rotation:6.88;blue:196;image:Pilz 2.png;}
sprite22{x:2402;y:1919;scalex:4.73;scaley:4.73;green:220;image:Baum 4.png;}
sprite23{x:11694;y:2807;scalex:1.72;scaley:1.72;rotation:52.72;image:Steinsammlung.png;}
sprite24{x:-3160;y:4339;scalex:1.48;scaley:1.48;rotation:28.69;image:Steinsammlung.png;}
sprite25{x:8650;y:2757;scalex:2.00;scaley:2.00;rotation:89.00;image:Steinsammlung.png;}
sprite26{x:82;y:3402;scalex:1.48;scaley:1.48;rotation:-8.18;image:Steinsammlung.png;}
sprite27{x:2061;y:3116;scalex:1.37;scaley:1.37;rotation:147.52;image:Steinsammlung.png;}
sprite28{x:3204;y:2666;rotation:-2.50;image:Steinsammlung.png;}
sprite29{x:7641;y:2874;scalex:2.00;scaley:2.00;rotation:89.00;image:Steinsammlung.png;}
sprite30{x:1454;y:3567;scalex:1.50;scaley:1.50;rotation:-69.62;image:Steinsammlung.png;}
sprite31{x:13596;y:2503;scalex:2.25;scaley:2.25;rotation:-32.04;image:Steinsammlung.png;}
sprite32{x:5355;y:2425;flipX:1;image:Steinsammlung.png;}
sprite33{x:1092;y:3563;scalex:1.48;scaley:1.48;rotation:28.69;image:Steinsammlung.png;}
sprite34{x:13772;y:2146;scalex:1.75;scaley:1.75;rotation:-32.04;image:Steinsammlung.png;}
sprite35{x:13996;y:2560;scalex:2.25;scaley:2.25;rotation:-32.04;image:Steinsammlung.png;}
sprite36{x:1874;y:3420;scalex:1.75;scaley:1.75;rotation:-63.58;image:Steinsammlung.png;}
sprite37{x:3216;y:2882;rotation:-2.50;image:Steinsammlung.png;}
sprite38{x:78;y:3860;scalex:1.75;scaley:1.75;rotation:-118.15;image:Steinsammlung.png;}
sprite39{x:2273;y:3345;scalex:1.50;scaley:1.50;rotation:173.02;image:Steinsammlung.png;}
sprite40{x:13225;y:2800;scalex:2.00;scaley:2.00;rotation:-40.93;image:Steinsammlung.png;}
sprite41{x:2922;y:3198;scalex:1.50;scaley:1.50;image:Steinsammlung.png;}
sprite42{x:2587;y:3296;scalex:1.45;scaley:1.45;rotation:95.26;image:Steinsammlung.png;}
sprite43{x:2824;y:2284;scalex:1.84;scaley:1.84;rotation:68.87;image:Steinsammlung.png;}
sprite44{x:9563;y:2264;scalex:1.38;scaley:1.38;rotation:-141.50;image:Steinsammlung.png;}
sprite45{x:10140;y:2435;scalex:1.63;scaley:1.63;rotation:77.87;image:Steinsammlung.png;}
sprite46{x:3156;y:3141;scalex:1.13;scaley:1.13;rotation:13.52;image:Steinsammlung.png;}
sprite47{x:13836;y:1803;scalex:2.17;scaley:2.17;image:Steinsammlung.png;}
sprite48{x:9269;y:2818;scalex:2.00;scaley:2.00;rotation:89.00;image:Steinsammlung.png;}
sprite49{x:9030;y:2198;scalex:1.63;scaley:1.63;rotation:60.95;image:Steinsammlung.png;}
sprite50{x:10366;y:2924;scalex:2.00;scaley:2.00;rotation:89.00;image:Steinsammlung.png;}
sprite51{x:11425;y:2826;scalex:1.32;scaley:1.32;rotation:36.50;image:Steinsammlung.png;}
sprite52{x:9540;y:1393;image:Baum 4.png;}
sprite53{x:6380;y:2321;scalex:1.13;scaley:1.13;image:Steinsammlung.png;}
sprite54{x:5249;y:1876;scalex:2.00;scaley:2.00;red:207;green:157;blue:209;image:Pilz Kopie.png;}
sprite55{x:4021;y:2074;scalex:0.62;scaley:0.62;alpha:0.00;name:platform1;image:Plattform.png;}
sprite56{x:9360;y:2467;scalex:1.38;scaley:1.38;rotation:143.16;image:Steinsammlung.png;}
sprite57{x:13799;y:1368;scalex:2.17;scaley:2.17;rotation:132.57;image:Steinsammlung.png;}
sprite58{x:-3505;y:3932;scalex:1.75;scaley:1.75;name:condorra;image:Schriftzug1.png;}
sprite59{x:8680;y:2133;scalex:1.63;scaley:1.63;rotation:57.25;image:Steinsammlung.png;}
sprite60{x:10161;y:2010;scalex:6.13;scaley:6.13;rotation:5.59;red:226;blue:180;image:Pilz 2.png;}
sprite61{x:10674;y:2067;scalex:5.23;scaley:5.23;rotation:-8.39;red:238;blue:160;image:Pilz 2.png;}
sprite62{x:10643;y:881;scalex:2.00;scaley:2.00;green:241;image:Baum 4.png;}
sprite63{x:3279;y:2453;image:Steinsammlung.png;}
sprite64{x:6747;y:2496;scalex:1.13;scaley:1.13;rotation:-13.29;image:Steinsammlung.png;}
sprite65{x:2906;y:2483;rotation:-15.51;image:Steinsammlung.png;}
sprite66{x:9896;y:2294;scalex:1.38;scaley:1.38;rotation:155.96;image:Steinsammlung.png;}
sprite67{x:2594;y:2076;scalex:1.63;scaley:1.63;image:Baum 4.png;}
sprite68{x:3095;y:2857;rotation:-2.50;image:Steinsammlung.png;}
sprite69{x:10451;y:941;scalex:1.70;scaley:1.70;green:241;image:Baum 4.png;}
sprite70{x:10407;y:2480;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite71{x:11468;y:2477;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite72{x:12131;y:2745;scalex:1.98;scaley:1.98;layer:2;image:Steinsammlung.png;}
sprite73{x:12455;y:2839;scalex:2.47;scaley:2.47;rotation:28.62;flipX:1;layer:2;image:Steinsammlung.png;}
sprite74{x:12811;y:2745;scalex:1.88;scaley:1.88;layer:2;image:Steinsammlung.png;}
sprite75{x:12632;y:2123;scalex:1.44;scaley:1.44;layer:2;image:Steinsammlung.png;}
sprite76{x:13367;y:1625;scalex:1.44;scaley:1.44;rotation:123.25;layer:2;image:Steinsammlung.png;}
sprite77{x:10836;y:2839;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite78{x:3192;y:2310;rotation:72.76;layer:2;image:Steinsammlung.png;}
sprite79{x:11094;y:2510;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite80{x:11714;y:2160;scalex:1.49;scaley:1.49;rotation:-82.08;layer:2;image:Steinsammlung.png;}
sprite81{x:3060;y:2426;scalex:1.50;scaley:1.50;layer:2;image:Steinsammlung.png;}
sprite82{x:11159;y:2833;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite83{x:13369;y:1752;scalex:2.25;scaley:2.25;rotation:132.21;layer:2;image:Steinsammlung.png;}
sprite84{x:13446;y:1367;scalex:2.17;scaley:2.17;rotation:132.57;layer:2;image:Steinsammlung.png;}
sprite85{x:11685;y:2424;scalex:1.50;scaley:1.50;rotation:69.58;layer:2;image:Steinsammlung.png;}
sprite86{x:-3455;y:4446;scalex:1.48;scaley:1.48;rotation:-8.18;layer:2;image:Steinsammlung.png;}
sprite87{x:-3433;y:4102;scalex:1.48;scaley:1.48;rotation:-8.18;layer:2;image:Steinsammlung.png;}
sprite88{x:-2871;y:4325;scalex:1.38;scaley:1.38;rotation:-12.29;layer:2;image:Steinsammlung.png;}
sprite89{x:484;y:3736;scalex:1.63;scaley:1.63;rotation:-8.18;layer:2;image:Steinsammlung.png;}
sprite90{x:781;y:3119;scalex:1.50;scaley:1.50;layer:2;image:Steinsammlung.png;}
sprite91{x:1424;y:3240;scalex:2.15;scaley:2.15;rotation:-63.58;layer:2;image:Steinsammlung.png;}
sprite92{x:1056;y:3109;scalex:1.22;scaley:1.22;rotation:145.63;layer:2;image:Steinsammlung.png;}
sprite93{x:5273;y:2232;layer:2;image:Steinsammlung.png;}
sprite94{x:5110;y:2432;scalex:1.13;scaley:1.13;layer:2;image:Steinsammlung.png;}
sprite95{x:792;y:3654;scalex:1.57;scaley:1.57;layer:2;image:Steinsammlung.png;}
sprite96{x:223;y:3680;scalex:1.24;scaley:1.24;rotation:-36.38;layer:2;image:Steinsammlung.png;}
sprite97{x:996;y:3376;scalex:1.50;scaley:1.50;rotation:-69.62;layer:2;image:Steinsammlung.png;}
sprite98{x:10135;y:2450;scalex:1.38;scaley:1.38;rotation:143.16;layer:2;image:Steinsammlung.png;}
sprite99{x:-3140;y:4129;scalex:1.48;scaley:1.48;rotation:28.69;layer:2;image:Steinsammlung.png;}
sprite100{x:-2306;y:3808;scalex:1.88;scaley:1.88;rotation:123.43;layer:2;image:Steinsammlung.png;}
sprite101{x:5443;y:2212;layer:2;image:Steinsammlung.png;}
sprite102{x:12066;y:1534;scalex:1.50;scaley:1.50;rotation:69.58;layer:2;image:Steinsammlung.png;}
sprite103{x:12805;y:2325;scalex:2.25;scaley:2.25;rotation:90.76;layer:2;image:Steinsammlung.png;}
sprite104{x:2626;y:2635;scalex:1.84;scaley:1.84;rotation:68.87;layer:2;image:Steinsammlung.png;}
sprite105{x:10770;y:2480;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite106{x:2906;y:2876;scalex:1.84;scaley:1.84;rotation:17.20;layer:2;image:Steinsammlung.png;}
sprite107{x:9293;y:1535;scalex:0.66;scaley:0.66;rotation:-107.16;layer:2;image:Steinsammlung.png;}
sprite108{x:2647;y:1980;scalex:1.63;scaley:1.63;layer:2;image:Baum 4.png;}
sprite109{x:7507;y:2046;scalex:1.35;scaley:1.35;layer:2;image:Baum 4.png;}
sprite110{x:1543;y:2646;scalex:1.57;scaley:1.57;layer:2;image:Steinsammlung.png;}
sprite111{x:1247;y:2890;scalex:1.25;scaley:1.25;rotation:-38.56;layer:2;image:Steinsammlung.png;}
sprite112{x:1413;y:2869;layer:2;image:Steinsammlung.png;}
sprite113{x:1719;y:3004;scalex:2.00;scaley:2.00;layer:2;image:Steinsammlung.png;}
sprite114{x:3185;y:1793;scalex:0.87;scaley:0.87;red:239;green:249;layer:2;image:Hoher Stein.png;}
sprite115{x:9314;y:2149;scalex:1.63;scaley:1.63;rotation:57.25;layer:2;image:Steinsammlung.png;}
sprite116{x:3035;y:1825;scalex:0.75;scaley:0.75;red:245;blue:219;layer:2;image:Hoher Stein.png;}
sprite117{x:12528;y:1703;scalex:2.75;scaley:2.75;rotation:-107.66;layer:2;image:Steinsammlung.png;}
sprite118{x:7268;y:2416;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite119{x:8590;y:2247;scalex:1.38;scaley:1.38;rotation:143.16;layer:2;image:Steinsammlung.png;}
sprite120{x:7653;y:1971;scalex:2.49;scaley:2.49;alpha:0.92;layer:2;image:Baum 4.png;}
sprite121{x:12506;y:1415;scalex:2.00;scaley:2.00;rotation:-96.69;layer:2;image:Steinsammlung.png;}
sprite122{x:2509;y:2332;scalex:1.57;scaley:1.57;rotation:308.00;layer:2;image:Steinsammlung.png;}
sprite123{x:2291;y:2567;scalex:1.57;scaley:1.57;rotation:13.09;layer:2;image:Steinsammlung.png;}
sprite124{x:6197;y:2321;layer:2;image:Steinsammlung.png;}
sprite125{x:7541;y:2360;scalex:1.63;scaley:1.63;rotation:60.95;layer:2;image:Steinsammlung.png;}
sprite126{x:10103;y:1476;scalex:1.36;scaley:1.36;rotation:-18.12;layer:2;image:Steinsammlung.png;}
sprite127{x:7995;y:2173;rotation:-11.68;layer:2;image:Wiesengrund.png;}
sprite128{x:12968;y:1355;scalex:2.25;scaley:2.25;rotation:-66.23;layer:2;image:Steinsammlung.png;}
sprite129{x:9923;y:2255;rotation:21.04;layer:3;image:Wiesengrund.png;}
sprite130{x:13395;y:569;layer:3;image:haueserbaum.png;}
sprite131{x:8497;y:2075;rotation:-11.68;layer:3;image:Wiesengrund.png;}
sprite132{x:1726;y:2597;scalex:0.87;scaley:0.87;rotation:-95.05;layer:3;image:Steinsammlung.png;}
sprite133{x:6005;y:2299;layer:3;image:Steinsammlung.png;}
sprite134{x:7808;y:2665;scalex:1.63;scaley:1.63;rotation:60.95;layer:3;image:Steinsammlung.png;}
sprite135{x:6909;y:2488;scalex:1.63;scaley:1.63;rotation:-9.81;layer:3;image:Steinsammlung.png;}
sprite136{x:8416;y:2563;scalex:1.63;scaley:1.63;rotation:60.95;layer:3;image:Steinsammlung.png;}
sprite137{x:8984;y:2013;rotation:-3.96;layer:3;image:Wiesengrund.png;}
sprite138{x:9044;y:2559;scalex:1.63;scaley:1.63;rotation:60.95;layer:3;image:Steinsammlung.png;}
sprite139{x:10210;y:2747;scalex:1.63;scaley:1.63;rotation:60.95;layer:3;image:Steinsammlung.png;}
sprite140{x:10746;y:1240;scalex:1.24;scaley:1.24;rotation:-82.08;layer:3;image:Steinsammlung.png;}
sprite141{x:13262;y:1173;rotation:1.50;layer:3;image:Wiesengrund.png;}
sprite142{x:10161;y:1342;scalex:1.36;scaley:1.36;rotation:-18.12;layer:3;image:Steinsammlung.png;}
sprite143{x:10020;y:1398;scalex:1.36;scaley:1.36;rotation:-18.12;layer:3;image:Steinsammlung.png;}
sprite144{x:9812;y:1414;scalex:1.36;scaley:1.36;rotation:117.05;layer:3;image:Steinsammlung.png;}
sprite145{x:9541;y:1458;scalex:0.86;scaley:0.86;rotation:-146.86;layer:3;image:Steinsammlung.png;}
sprite146{x:9353;y:1503;scalex:0.86;scaley:0.86;rotation:-97.04;layer:3;image:Steinsammlung.png;}
sprite147{x:9425;y:1537;scalex:0.86;scaley:0.86;rotation:-42.86;layer:3;image:Steinsammlung.png;}
sprite148{x:9644;y:1519;scalex:0.86;scaley:0.86;rotation:-42.86;layer:3;image:Steinsammlung.png;}
sprite149{x:9945;y:1523;scalex:0.86;scaley:0.86;rotation:-42.86;layer:3;image:Steinsammlung.png;}
sprite150{x:9170;y:1568;scalex:0.66;scaley:0.66;rotation:-107.16;layer:3;image:Steinsammlung.png;}
sprite151{x:6155;y:2054;scalex:0.81;scaley:0.81;green:170;layer:3;image:Pilz Kopie.png;}
sprite152{x:10346;y:1488;scalex:1.36;scaley:1.36;rotation:-139.88;layer:3;image:Steinsammlung.png;}
sprite153{x:10912;y:676;scalex:0.87;scaley:0.87;layer:3;image:baum2.png;}
sprite154{x:13780;y:1193;rotation:1.50;layer:3;image:Wiesengrund.png;}
sprite155{x:11036;y:2115;scalex:0.75;scaley:0.75;rotation:-8.55;layer:3;image:Stein_Knopf.png;}
sprite156{x:11331;y:2172;scalex:1.63;scaley:1.63;rotation:60.95;layer:3;image:Steinsammlung.png;}
sprite157{x:2183;y:2445;scalex:1.75;scaley:1.75;rotation:-107.04;layer:3;image:Steinsammlung.png;}
sprite158{x:12812;y:1850;scalex:1.72;scaley:1.72;rotation:-82.08;layer:3;image:Steinsammlung.png;}
sprite159{x:13039;y:1625;scalex:1.72;scaley:1.72;rotation:-82.08;layer:3;image:Steinsammlung.png;}
sprite160{x:11718;y:1261;scalex:1.24;scaley:1.24;rotation:-82.08;layer:3;image:Steinsammlung.png;}
sprite161{x:11946;y:1345;scalex:1.50;scaley:1.50;rotation:69.58;layer:3;image:Steinsammlung.png;}
sprite162{x:12224;y:1323;scalex:1.50;scaley:1.50;rotation:-62.56;layer:3;image:Steinsammlung.png;}
sprite163{x:11694;y:1543;scalex:1.50;scaley:1.50;rotation:69.58;layer:3;image:Steinsammlung.png;}
sprite164{x:9436;y:2076;rotation:18.95;layer:3;image:Wiesengrund.png;}
sprite165{x:3248;y:2139;flipX:1;layer:3;image:Wieseabgerundet.png;}
sprite166{x:2837;y:1749;scalex:1.38;scaley:1.38;layer:3;image:Hoher Stein.png;}
sprite167{x:7079;y:2481;scalex:1.63;scaley:1.63;layer:3;image:Steinsammlung.png;}
sprite168{x:7373;y:2052;scalex:1.75;scaley:1.75;rotation:-6.50;layer:3;image:Baum 4.png;}
sprite169{x:7231;y:2105;scalex:1.35;scaley:1.35;rotation:5.59;layer:3;image:Baum 4.png;}
sprite170{x:7501;y:2274;rotation:-11.68;layer:3;image:Wiesengrund.png;}
sprite171{x:6965;y:1738;scalex:0.87;scaley:0.87;layer:3;image:baum1.png;}
sprite172{x:7065;y:2325;layer:3;image:Wiesengrund.png;}
sprite173{x:51;y:3035;layer:3;image:Steinsammlung.png;}
sprite174{x:5101;y:2245;layer:3;image:Steinsammlung.png;}
sprite175{x:2425;y:3010;scalex:2.15;scaley:2.15;rotation:-63.58;layer:3;image:Steinsammlung.png;}
sprite176{x:-3777;y:4383;scalex:1.48;scaley:1.48;rotation:-8.18;layer:3;image:Steinsammlung.png;}
sprite177{x:-4104;y:4451;scalex:1.48;scaley:1.48;rotation:-8.18;layer:3;image:Steinsammlung.png;}
sprite178{x:-4335;y:4078;scalex:1.57;scaley:1.57;layer:3;image:Steinsammlung.png;}
sprite179{x:-3723;y:4098;scalex:1.48;scaley:1.48;rotation:-8.18;layer:3;image:Steinsammlung.png;}
sprite180{x:-4050;y:4166;scalex:1.48;scaley:1.48;rotation:-8.18;layer:3;image:Steinsammlung.png;}
sprite181{x:-4603;y:4566;scalex:1.57;scaley:1.57;layer:3;image:Steinsammlung.png;}
sprite182{x:-1519;y:3658;scalex:1.32;scaley:1.32;rotation:4.09;layer:3;image:Steinsammlung.png;}
sprite183{x:-571;y:4081;scalex:1.48;scaley:1.48;rotation:28.69;layer:3;image:Steinsammlung.png;}
sprite184{x:-1230;y:4388;scalex:1.13;scaley:1.13;layer:3;image:Steinsammlung.png;}
sprite185{x:-351;y:4012;scalex:1.24;scaley:1.24;rotation:24.59;layer:3;image:Steinsammlung.png;}
sprite186{x:-467;y:3652;scalex:1.63;scaley:1.63;rotation:-8.18;layer:3;image:Steinsammlung.png;}
sprite187{x:385;y:3466;scalex:1.48;scaley:1.48;rotation:28.69;layer:3;image:Steinsammlung.png;}
sprite188{x:-220;y:3769;scalex:1.57;scaley:1.57;layer:3;image:Steinsammlung.png;}
sprite189{x:611;y:3372;scalex:1.50;scaley:1.50;layer:3;image:Steinsammlung.png;}
sprite190{x:10421;y:2372;rotation:4.03;layer:4;image:Wiesengrund.png;}
sprite191{x:1163;y:2635;rotation:-14.14;layer:4;image:Steinsammlung.png;}
sprite192{x:2778;y:2155;rotation:-16.70;layer:4;image:Wiesengrund.png;}
sprite193{x:10959;y:2401;rotation:-8.77;flipX:1;layer:4;image:Wieseabgerundet.png;}
sprite194{x:2446;y:2015;rotation:-16.37;layer:4;image:Stein_Knopf.png;}
sprite195{x:10986;y:1226;scalex:1.24;scaley:1.24;rotation:-82.08;layer:4;image:Steinsammlung.png;}
sprite196{x:11524;y:1282;scalex:1.24;scaley:1.24;rotation:-82.08;layer:4;image:Steinsammlung.png;}
sprite197{x:11239;y:1162;rotation:1.50;layer:4;image:Wiesengrund.png;}
sprite198{x:1953;y:2456;scalex:1.50;scaley:1.50;rotation:118.04;layer:4;image:Steinsammlung.png;}
sprite199{x:1948;y:2402;rotation:-16.70;layer:4;image:Wiesengrund.png;}
sprite200{x:2429;y:2263;rotation:-16.70;layer:4;image:Wiesengrund.png;}
sprite201{x:8848;y:2519;scalex:1.38;scaley:1.38;rotation:143.16;layer:4;image:Steinsammlung.png;}
sprite202{x:10330;y:1304;scalex:1.36;scaley:1.36;rotation:-18.12;layer:4;image:Steinsammlung.png;}
sprite203{x:4966;y:1945;red:193;green:138;layer:4;image:Pilz Kopie.png;}
sprite204{x:5071;y:1941;red:243;green:173;layer:4;image:Pilz Kopie.png;}
sprite205{x:5160;y:1960;scalex:0.68;scaley:0.68;red:193;green:170;layer:4;image:Pilz Kopie.png;}
sprite206{x:6083;y:2069;scalex:0.68;scaley:0.68;green:170;layer:4;image:Pilz Kopie.png;}
sprite207{x:12317;y:2313;scalex:2.25;scaley:2.25;rotation:-43.34;layer:4;image:Steinsammlung.png;}
sprite208{x:12032;y:2437;scalex:1.50;scaley:1.50;rotation:69.58;layer:4;image:Steinsammlung.png;}
sprite209{x:11998;y:2211;scalex:1.50;scaley:1.50;rotation:69.58;layer:4;image:Steinsammlung.png;}
sprite210{x:6600;y:2285;rotation:8.85;layer:4;image:Wiesengrund.png;}
sprite211{x:1977;y:2817;scalex:1.75;scaley:1.75;rotation:145.63;layer:4;image:Steinsammlung.png;}
sprite212{x:-4910;y:4564;scalex:1.57;scaley:1.57;layer:4;image:Steinsammlung.png;}
sprite213{x:-4429;y:4400;scalex:1.57;scaley:1.57;layer:4;image:Steinsammlung.png;}
sprite214{x:-4897;y:4279;scalex:1.57;scaley:1.57;layer:4;image:Steinsammlung.png;}
sprite215{x:-1980;y:3813;scalex:1.57;scaley:1.57;layer:4;image:Steinsammlung.png;}
sprite216{x:-1736;y:3742;scalex:1.24;scaley:1.24;rotation:24.59;layer:4;image:Steinsammlung.png;}
sprite217{x:-1094;y:4157;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite218{x:-1483;y:4347;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite219{x:-851;y:4124;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite220{x:-1380;y:4028;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite221{x:-675;y:3781;scalex:1.48;scaley:1.48;rotation:28.69;layer:4;image:Steinsammlung.png;}
sprite222{x:-137;y:3542;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite223{x:-709;y:3390;scalex:1.57;scaley:1.57;layer:4;image:Steinsammlung.png;}
sprite224{x:-353;y:3309;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite225{x:-140;y:3177;scalex:1.48;scaley:1.48;rotation:-8.18;layer:4;image:Steinsammlung.png;}
sprite226{x:281;y:3166;scalex:1.48;scaley:1.48;rotation:28.69;layer:4;image:Steinsammlung.png;}
sprite227{x:313;y:3181;scalex:1.25;scaley:1.25;rotation:-38.56;layer:4;image:Steinsammlung.png;}
sprite228{x:500;y:3148;layer:4;image:Steinsammlung.png;}
sprite229{x:1731;y:2749;scalex:0.05;scaley:0.05;rotation:13.09;layer:5;image:Steinsammlung.png;}
sprite230{x:11921;y:1843;scalex:1.50;scaley:1.50;rotation:69.58;layer:5;image:Steinsammlung.png;}
sprite231{x:12759;y:1182;rotation:-5.42;layer:5;image:Wiesengrund.png;}
sprite232{x:11246;y:807;layer:5;name:gate;image:Door.png;}
sprite233{x:11527;y:1455;scalex:1.24;scaley:1.24;rotation:-82.08;layer:5;image:Steinsammlung.png;}
sprite234{x:11253;y:1271;scalex:1.24;scaley:1.24;rotation:-82.08;layer:5;image:Steinsammlung.png;}
sprite235{x:6975;y:2697;scalex:1.63;scaley:1.63;layer:5;image:Steinsammlung.png;}
sprite236{x:7211;y:2858;scalex:1.63;scaley:1.63;rotation:60.95;layer:5;image:Steinsammlung.png;}
sprite237{x:7450;y:2587;scalex:1.63;scaley:1.63;rotation:60.95;layer:5;image:Steinsammlung.png;}
sprite238{x:8100;y:2453;scalex:1.38;scaley:1.38;rotation:143.16;layer:5;image:Steinsammlung.png;}
sprite239{x:8134;y:2698;scalex:1.38;scaley:1.38;rotation:143.16;layer:5;image:Steinsammlung.png;}
sprite240{x:8708;y:2351;scalex:1.38;scaley:1.38;rotation:143.16;layer:5;image:Steinsammlung.png;}
sprite241{x:10059;y:3010;scalex:1.38;scaley:1.38;rotation:143.16;layer:5;image:Steinsammlung.png;}
sprite242{x:10536;y:2780;scalex:1.38;scaley:1.38;rotation:143.16;layer:5;image:Steinsammlung.png;}
sprite243{x:1480;y:2511;rotation:-9.97;layer:5;image:Wiesengrund.png;}
sprite244{x:244;y:2936;layer:5;image:Steinsammlung.png;}
sprite245{x:10524;y:1343;scalex:1.75;scaley:1.75;rotation:12.10;layer:5;image:Steinsammlung.png;}
sprite246{x:11755;y:1178;rotation:1.50;layer:5;image:Wiesengrund.png;}
sprite247{x:12270;y:1198;rotation:1.50;layer:5;image:Wiesengrund.png;}
sprite248{x:11262;y:1158;scalex:0.75;scaley:0.75;layer:5;image:Wiesengrund.png;}
sprite249{x:6114;y:2299;layer:5;image:Wieseabgerundet.png;}
sprite250{x:8285;y:1768;scalex:0.61;scaley:0.61;rotation:-10.10;layer:5;image:Plattform.png;}
sprite251{x:9018;y:1565;scalex:0.66;scaley:0.66;rotation:-154.74;layer:5;image:Steinsammlung.png;}
sprite252{x:-4950;y:3887;scalex:1.88;scaley:1.88;rotation:123.43;layer:5;image:Steinsammlung.png;}
sprite253{x:-5177;y:4409;scalex:1.23;scaley:1.23;rotation:-4.09;layer:5;image:Steinsammlung.png;}
sprite254{x:-5123;y:4124;scalex:1.23;scaley:1.23;rotation:-4.09;layer:5;image:Steinsammlung.png;}
sprite255{x:-4677;y:4253;scalex:1.57;scaley:1.57;layer:5;image:Steinsammlung.png;}
sprite256{x:-1239;y:3530;scalex:1.13;scaley:1.13;layer:5;image:Steinsammlung.png;}
sprite257{x:-2395;y:4351;scalex:1.23;scaley:1.23;rotation:-4.09;layer:5;image:Steinsammlung.png;}
sprite258{x:-641;y:3392;scalex:1.57;scaley:1.57;layer:5;image:Steinsammlung.png;}
sprite259{x:-1801;y:4302;scalex:1.57;scaley:1.57;layer:5;image:Steinsammlung.png;}
sprite260{x:-2399;y:4058;scalex:1.23;scaley:1.23;rotation:-4.09;layer:5;image:Steinsammlung.png;}
sprite261{x:-2039;y:4141;scalex:1.57;scaley:1.57;layer:5;image:Steinsammlung.png;}
sprite262{x:-1666;y:4005;scalex:1.57;scaley:1.57;layer:5;image:Steinsammlung.png;}
sprite263{x:-1218;y:3738;scalex:1.48;scaley:1.48;rotation:-8.18;layer:5;image:Steinsammlung.png;}
sprite264{x:-963;y:3827;scalex:1.48;scaley:1.48;rotation:-8.18;layer:5;image:Steinsammlung.png;}
sprite265{x:-2189;y:4217;scalex:1.57;scaley:1.57;layer:5;image:Steinsammlung.png;}
sprite266{x:826;y:3062;scalex:0.05;scaley:0.05;rotation:13.09;layer:5;image:Steinsammlung.png;}
sprite267{x:4893;y:2440;layer:5;image:Steinsammlung.png;}
sprite268{x:424;y:2923;layer:6;image:Steinsammlung.png;}
sprite269{x:584;y:2942;layer:6;image:Steinsammlung.png;}
sprite270{x:537;y:2766;layer:6;image:Steinsammlung.png;}
sprite271{x:693;y:2695;rotation:132.41;layer:6;image:Steinsammlung.png;}
sprite272{x:752;y:2888;rotation:78.41;layer:6;image:Steinsammlung.png;}
sprite273{x:984;y:2874;scalex:1.21;scaley:1.21;rotation:78.41;layer:6;image:Steinsammlung.png;}
sprite274{x:855;y:2689;rotation:-14.14;layer:6;image:Steinsammlung.png;}
sprite275{x:1005;y:2657;rotation:-25.70;layer:6;image:Steinsammlung.png;}
sprite276{x:11627;y:1843;scalex:1.72;scaley:1.72;rotation:-82.08;layer:6;image:Steinsammlung.png;}
sprite277{x:10731;y:1148;rotation:1.50;layer:6;image:Wiesengrund.png;}
sprite278{x:983;y:2594;rotation:-9.97;layer:6;image:Wiesengrund.png;}
sprite279{x:11239;y:1901;rotation:-61.70;layer:6;image:Steinsammlung.png;}
sprite280{x:10239;y:1175;rotation:-8.35;layer:6;image:Wiesengrund.png;}
sprite281{x:8893;y:1608;scalex:0.66;scaley:0.66;rotation:114.83;layer:6;image:Steinsammlung.png;}
sprite282{x:10549;y:1560;scalex:1.36;scaley:1.36;rotation:-84.83;layer:6;image:Steinsammlung.png;}
sprite283{x:10848;y:1608;scalex:1.36;scaley:1.36;rotation:78.62;layer:6;image:Steinsammlung.png;}
sprite284{x:4925;y:2252;layer:6;image:Steinsammlung.png;}
sprite285{x:-3061;y:3799;scalex:1.32;scaley:1.32;layer:6;image:Steinsammlung.png;}
sprite286{x:-5360;y:4355;scalex:1.38;scaley:1.38;rotation:-12.29;layer:6;image:Steinsammlung.png;}
sprite287{x:-5306;y:4070;scalex:1.38;scaley:1.38;rotation:-12.29;layer:6;image:Steinsammlung.png;}
sprite288{x:-818;y:3513;scalex:1.32;scaley:1.32;layer:6;image:Steinsammlung.png;}
sprite289{x:-2636;y:4289;scalex:1.38;scaley:1.38;rotation:-12.29;layer:6;image:Steinsammlung.png;}
sprite290{x:-2582;y:4004;scalex:1.38;scaley:1.38;rotation:-12.29;layer:6;image:Steinsammlung.png;}
sprite291{x:12157;y:1830;scalex:1.50;scaley:1.50;rotation:69.58;layer:7;image:Steinsammlung.png;}
sprite292{x:11193;y:1564;scalex:2.19;scaley:2.19;rotation:-41.45;layer:7;image:Steinsammlung.png;}
sprite293{x:10831;y:1384;scalex:1.24;scaley:1.24;rotation:-41.45;layer:7;image:Steinsammlung.png;}
sprite294{x:9770;y:1287;rotation:-19.51;layer:7;image:Wiesengrund.png;}
sprite295{x:-5247;y:3806;layer:7;image:Steinsammlung.png;}
sprite296{x:-4654;y:3840;scalex:1.57;scaley:1.57;layer:7;image:Steinsammlung.png;}
sprite297{x:-4373;y:3829;scalex:1.24;scaley:1.24;rotation:24.59;layer:7;image:Steinsammlung.png;}
sprite298{x:-4129;y:3840;scalex:1.32;scaley:1.32;rotation:4.09;layer:7;image:Steinsammlung.png;}
sprite299{x:-3924;y:3806;scalex:1.32;scaley:1.32;layer:7;image:Steinsammlung.png;}
sprite300{x:-3488;y:3871;scalex:1.32;scaley:1.32;layer:7;image:Steinsammlung.png;}
sprite301{x:-3689;y:3818;scalex:1.13;scaley:1.13;layer:7;image:Steinsammlung.png;}
sprite302{x:-3264;y:3830;scalex:1.32;scaley:1.32;layer:7;image:Steinsammlung.png;}
sprite303{x:-1011;y:3540;scalex:1.32;scaley:1.32;layer:7;image:Steinsammlung.png;}
sprite304{x:4766;y:2243;layer:8;image:Steinsammlung.png;}
sprite305{x:504;y:2722;rotation:-19.70;layer:8;image:Wiesengrund.png;}
sprite306{x:11333;y:1685;scalex:1.22;scaley:1.22;rotation:-41.45;layer:8;image:Steinsammlung.png;}
sprite307{x:-5429;y:3829;layer:8;image:Steinsammlung.png;}
sprite308{x:-5674;y:4354;scalex:1.38;scaley:1.38;rotation:-12.29;layer:8;image:Steinsammlung.png;}
sprite309{x:-5620;y:4069;scalex:1.38;scaley:1.38;rotation:-12.29;layer:8;image:Steinsammlung.png;}
sprite310{x:-2705;y:3763;layer:8;image:Steinsammlung.png;}
sprite311{x:-2896;y:4003;scalex:1.38;scaley:1.38;rotation:-12.29;layer:8;image:Steinsammlung.png;}
sprite312{x:5350;y:2184;scalex:0.93;scaley:0.93;flipX:1;layer:9;image:Wieseabgerundet.png;}
sprite313{x:4858;y:2182;scalex:0.93;scaley:0.93;layer:9;image:Wieseabgerundet.png;}
sprite314{x:64;y:2898;rotation:-24.29;layer:9;image:Wiesengrund.png;}
sprite315{x:9287;y:1465;rotation:-21.12;layer:9;image:Wiesengrund.png;}
sprite316{x:-5588;y:3817;layer:9;image:Steinsammlung.png;}
sprite317{x:-2864;y:3751;layer:9;image:Steinsammlung.png;}
sprite318{x:-336;y:3078;rotation:-24.69;layer:10;image:Wiesengrund.png;}
sprite319{x:-777;y:3260;rotation:-21.10;layer:10;image:Wiesengrund.png;}
sprite320{x:-1273;y:3434;rotation:-17.51;layer:10;image:Wiesengrund.png;}
sprite321{x:-1784;y:3558;rotation:-10.31;layer:10;image:Wiesengrund.png;}
sprite322{x:-2304;y:3632;rotation:-6.90;layer:10;image:Wiesengrund.png;}
sprite323{x:-2832;y:3664;scalex:1.07;scaley:1.07;rotation:-0.68;layer:10;image:Wiesengrund.png;}
sprite324{x:-3876;y:3665;rotation:-0.68;layer:10;image:Wiesengrund.png;}
sprite325{x:-4391;y:3670;rotation:-0.68;layer:10;image:Wiesengrund.png;}
sprite326{x:8894;y:1621;scalex:0.61;scaley:0.87;rotation:-9.52;layer:10;image:Wieseabgerundet.png;}
sprite327{x:-3357;y:3660;rotation:-0.68;layer:10;image:Wiesengrund.png;}
sprite328{x:11054;y:1648;scalex:1.36;scaley:1.36;rotation:78.62;layer:10;image:Steinsammlung.png;}
sprite329{x:-4911;y:3675;rotation:-0.68;layer:10;image:Wiesengrund.png;}
sprite330{x:-5431;y:3680;rotation:-0.68;layer:10;image:Wiesengrund.png;}
poly1{data:397347,821,397548,821,397347,1724,397548,1724;}
poly2{data:-1911,3507,-1410,3405,-1901,3556,-1400,3454;}
poly3{data:-1420,3408,-776,3176,-1403,3455,-759,3223;}
poly4{data:7970,1776,8586,1668,7979,1825,8595,1717;}
poly5{data:-798,3187,0,2848,-779,3233,18,2894;}
poly6{data:7398,2185,7892,2080,7409,2233,7903,2128;}
poly7{data:5876,2160,6411,2159,5876,2210,6411,2209;}
poly8{data:7875,2082,8188,2018,7885,2131,8198,2067;}
poly9{data:8969,1499,9225,1407,8986,1546,9242,1454;}
poly10{data:11095,1064,11090,524,11145,1063,11140,523;id:gate;}
poly11{data:2588,2142,2971,2012,2604,2189,2987,2059;}
poly12{data:12492,1106,12834,1071,12497,1156,12839,1121;}
poly13{data:3701,2025,4345,2024,3702,2075,4346,2074;id:platform1;}
poly14{data:834,2532,1313,2449,842,2582,1321,2499;}
poly15{data:11038,2247,11015,1734,11088,2245,11065,1732;}
poly16{data:1811,2367,2614,2134,1825,2415,2628,2182;}
poly17{data:373,2676,849,2527,388,2724,864,2575;}
poly18{data:8736,1923,9001,1914,8738,1973,9003,1964;}
poly19{data:9216,1411,9583,1275,9234,1458,9601,1322;}
poly20{data:9418,1952,9698,2055,9401,1998,9681,2101;}
poly21{data:10688,2282,11045,2225,10696,2332,11053,2275;}
poly22{data:9914,2152,10139,2226,9898,2199,10123,2273;}
poly23{data:10356,2264,10699,2281,10354,2314,10697,2331;}
poly24{data:7251,2223,7409,2182,7264,2271,7422,2230;}
poly25{data:10623,1068,11109,1059,10624,1118,11110,1109;}
poly26{data:8985,1915,9299,1918,8984,1965,9298,1968;}
poly27{data:9293,1918,9430,1955,9279,1966,9416,2003;}
poly28{data:9951,1141,10285,1089,9958,1190,10292,1138;}
poly29{data:11361,1068,12508,1107,11359,1118,12506,1157;}
poly30{data:8172,2020,8454,1968,8181,2069,8463,2017;}
poly31{data:9688,2051,9921,2154,9668,2097,9901,2200;}
poly32{data:4628,2046,5591,2045,4628,2096,5591,2095;}
poly33{data:11388,451,11387,1092,11338,451,11337,1092;id:gate;}
poly34{data:-5620,3152,-5619,3623,-5652,3152,-5651,3623;}
poly35{data:1296,2453,1833,2361,1304,2502,1841,2410;}
poly36{data:8728,1530,8978,1496,8735,1579,8985,1545;}
poly37{data:9570,1281,9957,1139,9588,1328,9975,1186;}
poly38{data:2963,2014,3494,2015,2963,2064,3494,2065;}
poly39{data:-26,2858,389,2670,-5,2903,410,2715;}
poly40{data:10854232,1883,10854031,1883,10854232,762,10854031,762;}
poly41{data:12818,1073,15833,1230,12816,1123,15831,1280;}
poly42{data:8438,1971,8751,1921,8446,2020,8759,1970;}
poly43{data:6402,2159,6776,2229,6393,2208,6767,2278;}
poly44{data:6764,2227,7264,2218,6765,2277,7265,2268;}
poly45{data:10275,1090,10633,1067,10278,1140,10636,1117;}
poly46{data:10132,2225,10366,2265,10123,2274,10357,2314;}
poly47{data:-5680,3580,-2537,3579,-5680,3630,-2537,3629;}
poly48{data:11080,523,11389,447,11092,572,11401,496;id:gate;}
poly49{data:-2546,3580,-1897,3505,-2540,3630,-1891,3555;}
baseline1{data:-5340,4876,3518,4875,-5339,4926,3519,4925;}
baseline2{data:2003,3426,12408,3425,2003,3476,12408,3475;}
trigger1{x:2202;y:2113;id:camLeft1;radius:300;}
trigger2{x:10993;y:2162;id:openGate;radius:225;allowObjectTriggering:1;}
trigger3{x:1676;y:2266;id:camRight1;radius:300;}
trigger4{x:4213;y:1862;id:camMiddleRight;radius:300;}
trigger5{x:13478;y:952;id:outro;radius:405;}
trigger6{x:3297;y:1861;id:camMiddleLeft;radius:340;}
trigger7{x:-3732;y:3430;id:camLogoLeft;radius:364;}
trigger8{x:-3070;y:3430;id:camLogoRight;radius:365;}
trigger9{x:9389;y:1830;id:camPuzzleRight;radius:300;}
trigger10{x:8781;y:1806;id:camPuzzleLeft;radius:339;}
trigger11{x:10901;y:855;id:camEndLeft;radius:575;}
trigger12{x:11657;y:831;id:camEndRight;radius:553;}
trigger13{x:2412;y:2041;id:createPlatform;radius:241;}
particle1{effect:portal.css;x:10142;y:418;}
savepoint1{x:3205;y:1952;}
savepoint2{x:6849;y:2185;}
