General{Width:3000;Height:2000;Layers:30;Sprites:32;SpritesFront:0;Polys:0;Baselines:0;Triggers:0;Particles:0;Savepoints:0;}
sprite1{x:2201;y:830;scalex:0.37;scaley:0.37;layer:5;image:Wieseabgerundet.png;}
sprite2{x:2394;y:830;scalex:0.37;scaley:0.37;flipX:1;layer:5;image:Wieseabgerundet.png;}
sprite3{x:2554;y:716;rotation:-173.38;layer:6;image:Steinsammlung.png;}
sprite4{x:2553;y:318;rotation:-173.38;layer:6;image:Steinsammlung.png;}
sprite5{x:2570;y:522;rotation:-173.38;layer:6;image:Steinsammlung.png;}
sprite6{x:2463;y:1240;layer:7;image:Steinsammlung.png;}
sprite7{x:2513;y:1117;rotation:-173.38;layer:7;image:Steinsammlung.png;}
sprite8{x:2555;y:936;rotation:-173.38;layer:7;image:Steinsammlung.png;}
sprite9{x:2404;y:1563;layer:8;image:Steinsammlung.png;}
sprite10{x:2431;y:1362;layer:8;image:Steinsammlung.png;}
sprite11{x:2235;y:1494;layer:9;image:Steinsammlung.png;}
sprite12{x:2032;y:1483;scalex:1.26;scaley:1.26;layer:9;image:Steinsammlung.png;}
sprite13{x:1812;y:1480;scalex:1.26;scaley:1.26;layer:9;image:Steinsammlung.png;}
sprite14{x:1570;y:1495;scalex:1.26;scaley:1.26;layer:9;image:Steinsammlung.png;}
sprite15{x:2147;y:1347;scalex:0.72;scaley:0.72;rotation:4.11;layer:10;image:Wiesengrund.png;}
sprite16{x:1777;y:1318;scalex:0.72;scaley:0.72;rotation:4.11;layer:11;image:Wiesengrund.png;}
sprite17{x:1050;y:1569;layer:11;image:Steinsammlung.png;}
sprite18{x:1375;y:1516;layer:11;image:Steinsammlung.png;}
sprite19{x:1229;y:1559;layer:11;image:Steinsammlung.png;}
sprite20{x:663;y:1611;layer:11;image:Steinsammlung.png;}
sprite21{x:850;y:1615;layer:11;image:Steinsammlung.png;}
sprite22{x:1446;y:1348;scalex:0.72;scaley:0.72;rotation:-14.48;layer:12;image:Wiesengrund.png;}
sprite23{x:462;y:1599;layer:12;image:Steinsammlung.png;}
sprite24{x:1073;y:1452;scalex:0.75;scaley:0.75;rotation:-14.48;layer:13;image:Wiesengrund.png;}
sprite25{x:296;y:1607;layer:13;image:Steinsammlung.png;}
sprite26{x:681;y:1503;scalex:0.75;scaley:0.75;rotation:-1.22;layer:13;image:Wiesengrund.png;}
sprite27{x:325;y:1520;scalex:0.62;scaley:0.62;layer:14;image:Wieseabgerundet.png;}
sprite28{x:1117;y:1074;scalex:0.25;scaley:0.25;layer:14;image:Wieseabgerundet.png;}
sprite29{x:1243;y:1073;scalex:0.25;scaley:0.25;flipX:1;layer:14;image:Wieseabgerundet.png;}
sprite30{x:1821;y:1003;scalex:0.25;scaley:0.25;layer:14;image:Wieseabgerundet.png;}
sprite31{x:1947;y:1002;scalex:0.25;scaley:0.25;flipX:1;layer:14;image:Wieseabgerundet.png;}
sprite32{x:560;y:1352;scalex:0.54;scaley:0.54;layer:15;image:rollingstone.png;}
