General{Width:14000;Height:5000;Layers:30;Sprites:333;SpritesFront:0;Polys:0;Baselines:0;Triggers:0;Particles:0;Savepoints:0;}
sprite1{x:1115;y:2153;scalex:1.75;scaley:1.75;alpha:0.67;parallax:50;layer:2;image:BaumGross2.png;}
sprite2{x:4788;y:2109;scalex:1.75;scaley:1.75;alpha:0.67;parallax:30;layer:2;image:BaumGross2.png;}
sprite3{x:4342;y:3665;scalex:0.75;scaley:0.75;rotation:-8.27;layer:13;image:Stones1.png;}
sprite4{x:4636;y:3459;scalex:0.60;scaley:0.60;layer:14;image:Stones1.png;}
sprite5{x:4675;y:3514;scalex:0.66;scaley:0.66;rotation:-54.86;layer:14;image:Stones1.png;}
sprite6{x:4559;y:4488;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite7{x:4412;y:4027;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite8{x:2401;y:3784;scalex:0.93;scaley:0.93;rotation:4.21;layer:15;image:Stones1.png;}
sprite9{x:5905;y:4672;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite10{x:6362;y:4555;scalex:0.99;scaley:0.99;rotation:84.83;layer:15;image:Stones2.png;}
sprite11{x:3498;y:3725;scalex:0.93;scaley:0.93;rotation:1.34;layer:15;image:Stones1.png;}
sprite12{x:4540;y:3656;rotation:84.83;layer:15;image:Stones2.png;}
sprite13{x:4075;y:3659;layer:15;image:Stones2.png;}
sprite14{x:6189;y:3619;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite15{x:6490;y:3945;rotation:84.83;layer:15;image:Stones2.png;}
sprite16{x:6304;y:4088;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite17{x:6431;y:4751;layer:15;image:Stones2.png;}
sprite18{x:6337;y:4988;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite19{x:1100;y:2659;layer:15;image:BaumGross2.png;}
sprite20{x:2845;y:2661;layer:15;image:BaumGross2.png;}
sprite21{x:4644;y:2479;layer:15;image:BaumGross2.png;}
sprite22{x:1984;y:4953;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite23{x:1959;y:4515;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite24{x:1812;y:4054;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite25{x:4584;y:4926;scalex:0.75;scaley:0.75;rotation:-8.27;layer:15;image:Stones1.png;}
sprite26{x:6223;y:4751;rotation:-60.27;layer:16;image:Stones2.png;}
sprite27{x:6268;y:4910;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite28{x:6296;y:4082;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite29{x:4838;y:4939;layer:16;image:Stones2.png;}
sprite30{x:6073;y:4957;layer:16;image:Stones2.png;}
sprite31{x:6385;y:3240;rotation:-60.27;layer:16;image:Stones2.png;}
sprite32{x:6506;y:3372;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite33{x:6548;y:3522;rotation:84.83;layer:16;image:Stones2.png;}
sprite34{x:6575;y:3252;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite35{x:6545;y:3427;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite36{x:6248;y:3423;layer:16;image:Stones2.png;}
sprite37{x:6500;y:3709;rotation:-60.27;layer:16;image:Stones2.png;}
sprite38{x:6363;y:3892;layer:16;image:Stones2.png;}
sprite39{x:6423;y:4119;rotation:-60.27;layer:16;image:Stones2.png;}
sprite40{x:6403;y:4319;layer:16;image:Stones2.png;}
sprite41{x:6346;y:3536;rotation:84.83;layer:16;image:Stones2.png;}
sprite42{x:1283;y:4093;scalex:0.75;scaley:0.75;rotation:-8.27;layer:16;image:Stones1.png;}
sprite43{x:1315;y:4510;scalex:0.75;scaley:0.75;rotation:-8.27;layer:16;image:Stones1.png;}
sprite44{x:1347;y:4967;scalex:0.75;scaley:0.75;rotation:-8.27;layer:16;image:Stones1.png;}
sprite45{x:2180;y:4574;rotation:-60.27;layer:16;image:Stones2.png;}
sprite46{x:2301;y:4706;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite47{x:2370;y:4586;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite48{x:2340;y:4761;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite49{x:1766;y:4877;layer:16;image:Stones2.png;}
sprite50{x:2007;y:4776;layer:16;image:Stones2.png;}
sprite51{x:1909;y:4148;scalex:0.93;scaley:0.93;rotation:-28.37;layer:16;image:Stones1.png;}
sprite52{x:2155;y:4136;rotation:-60.27;layer:16;image:Stones2.png;}
sprite53{x:2276;y:4268;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite54{x:2345;y:4148;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite55{x:1784;y:4434;layer:16;image:Stones2.png;}
sprite56{x:2018;y:4319;layer:16;image:Stones2.png;}
sprite57{x:2077;y:3767;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite58{x:1989;y:3957;rotation:84.83;layer:16;image:Stones2.png;}
sprite59{x:2168;y:3862;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite60{x:1871;y:3858;layer:16;image:Stones2.png;}
sprite61{x:3883;y:4066;scalex:0.75;scaley:0.75;rotation:-8.27;layer:16;image:Stones1.png;}
sprite62{x:3915;y:4483;scalex:0.75;scaley:0.75;rotation:-8.27;layer:16;image:Stones1.png;}
sprite63{x:3947;y:4940;scalex:0.75;scaley:0.75;rotation:-8.27;layer:16;image:Stones1.png;}
sprite64{x:4780;y:4547;rotation:-60.27;layer:16;image:Stones2.png;}
sprite65{x:4901;y:4679;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite66{x:4970;y:4559;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite67{x:4940;y:4734;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite68{x:4358;y:4889;layer:16;image:Stones2.png;}
sprite69{x:4607;y:4749;layer:16;image:Stones2.png;}
sprite70{x:4509;y:4121;scalex:0.93;scaley:0.93;rotation:-28.37;layer:16;image:Stones1.png;}
sprite71{x:4755;y:4109;rotation:-60.27;layer:16;image:Stones2.png;}
sprite72{x:4876;y:4241;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite73{x:4945;y:4121;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite74{x:4384;y:4407;layer:16;image:Stones2.png;}
sprite75{x:4618;y:4292;layer:16;image:Stones2.png;}
sprite76{x:4677;y:3740;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite77{x:4589;y:3930;rotation:84.83;layer:16;image:Stones2.png;}
sprite78{x:4768;y:3835;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite79{x:4471;y:3831;layer:16;image:Stones2.png;}
sprite80{x:6109;y:4281;rotation:-60.27;layer:16;image:Stones2.png;}
sprite81{x:6230;y:4413;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite82{x:6299;y:4293;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite83{x:6269;y:4468;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite84{x:5952;y:4477;layer:16;image:Stones2.png;}
sprite85{x:5550;y:4745;rotation:-60.27;layer:16;image:Stones2.png;}
sprite86{x:5671;y:4877;scalex:0.60;scaley:0.60;layer:16;image:Stones1.png;}
sprite87{x:5745;y:4754;scalex:1.08;scaley:1.08;rotation:65.30;layer:16;image:Stones3.png;}
sprite88{x:5710;y:4932;scalex:0.66;scaley:0.66;rotation:-54.86;layer:16;image:Stones1.png;}
sprite89{x:5413;y:4928;layer:16;image:Stones2.png;}
sprite90{x:5882;y:4874;scalex:0.93;scaley:0.93;rotation:-28.37;layer:16;image:Stones1.png;}
sprite91{x:1671;y:4318;scalex:0.66;scaley:0.66;rotation:-54.86;layer:17;image:Stones1.png;}
sprite92{x:1374;y:4314;layer:17;image:Stones2.png;}
sprite93{x:1543;y:4588;rotation:-60.27;layer:17;image:Stones2.png;}
sprite94{x:1664;y:4720;scalex:0.60;scaley:0.60;layer:17;image:Stones1.png;}
sprite95{x:1733;y:4600;scalex:1.08;scaley:1.08;rotation:65.30;layer:17;image:Stones3.png;}
sprite96{x:1703;y:4775;scalex:0.66;scaley:0.66;rotation:-54.86;layer:17;image:Stones1.png;}
sprite97{x:1406;y:4771;layer:17;image:Stones2.png;}
sprite98{x:1944;y:4616;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite99{x:2205;y:4903;rotation:84.83;layer:17;image:Stones2.png;}
sprite100{x:2180;y:4465;rotation:84.83;layer:17;image:Stones2.png;}
sprite101{x:1772;y:3717;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite102{x:1614;y:3935;layer:17;image:Stones2.png;}
sprite103{x:2411;y:4894;layer:17;image:Stones2.png;}
sprite104{x:4200;y:3819;scalex:0.60;scaley:0.60;layer:17;image:Stones1.png;}
sprite105{x:4279;y:3900;scalex:0.66;scaley:0.66;rotation:-54.86;layer:17;image:Stones1.png;}
sprite106{x:3931;y:3886;layer:17;image:Stones2.png;}
sprite107{x:4111;y:4104;rotation:-60.27;layer:17;image:Stones2.png;}
sprite108{x:4232;y:4236;scalex:0.60;scaley:0.60;layer:17;image:Stones1.png;}
sprite109{x:4092;y:4393;rotation:84.83;layer:17;image:Stones2.png;}
sprite110{x:4301;y:4116;scalex:1.08;scaley:1.08;rotation:65.30;layer:17;image:Stones3.png;}
sprite111{x:4271;y:4291;scalex:0.66;scaley:0.66;rotation:-54.86;layer:17;image:Stones1.png;}
sprite112{x:3949;y:4300;layer:17;image:Stones2.png;}
sprite113{x:4143;y:4561;rotation:-60.27;layer:17;image:Stones2.png;}
sprite114{x:4245;y:4713;scalex:0.60;scaley:0.60;layer:17;image:Stones1.png;}
sprite115{x:4333;y:4573;scalex:1.08;scaley:1.08;rotation:65.30;layer:17;image:Stones3.png;}
sprite116{x:4303;y:4748;scalex:0.66;scaley:0.66;rotation:-54.86;layer:17;image:Stones1.png;}
sprite117{x:3984;y:4757;layer:17;image:Stones2.png;}
sprite118{x:4544;y:4589;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite119{x:4763;y:4851;rotation:84.83;layer:17;image:Stones2.png;}
sprite120{x:4780;y:4438;rotation:84.83;layer:17;image:Stones2.png;}
sprite121{x:4133;y:3948;layer:17;image:Stones2.png;}
sprite122{x:5025;y:4867;layer:17;image:Stones2.png;}
sprite123{x:2611;y:4372;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite124{x:5257;y:4230;scalex:0.75;scaley:0.75;rotation:-8.27;layer:17;image:Stones1.png;}
sprite125{x:5283;y:4690;scalex:0.75;scaley:0.75;rotation:-8.27;layer:17;image:Stones1.png;}
sprite126{x:5873;y:4323;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite127{x:6134;y:4610;rotation:84.83;layer:17;image:Stones2.png;}
sprite128{x:5712;y:4541;layer:17;image:Stones2.png;}
sprite129{x:5314;y:4787;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite130{x:5543;y:5032;rotation:84.83;layer:17;image:Stones2.png;}
sprite131{x:5173;y:4973;layer:17;image:Stones2.png;}
sprite132{x:6149;y:3282;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite133{x:5988;y:3500;layer:17;image:Stones2.png;}
sprite134{x:6264;y:3751;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite135{x:6010;y:4070;layer:17;image:Stones2.png;}
sprite136{x:6304;y:4178;scalex:0.93;scaley:0.93;rotation:-28.37;layer:17;image:Stones1.png;}
sprite137{x:6143;y:4396;layer:17;image:Stones2.png;}
sprite138{x:1479;y:3714;rotation:-60.27;layer:17;image:Stones2.png;}
sprite139{x:1600;y:3846;scalex:0.60;scaley:0.60;layer:17;image:Stones1.png;}
sprite140{x:1669;y:3726;scalex:1.08;scaley:1.08;rotation:65.30;layer:17;image:Stones3.png;}
sprite141{x:1639;y:3901;scalex:0.66;scaley:0.66;rotation:-54.86;layer:17;image:Stones1.png;}
sprite142{x:1342;y:3897;layer:17;image:Stones2.png;}
sprite143{x:1511;y:4131;rotation:-60.27;layer:17;image:Stones2.png;}
sprite144{x:1632;y:4263;scalex:0.60;scaley:0.60;layer:17;image:Stones1.png;}
sprite145{x:1492;y:4420;rotation:84.83;layer:17;image:Stones2.png;}
sprite146{x:1701;y:4143;scalex:1.08;scaley:1.08;rotation:65.30;layer:17;image:Stones3.png;}
sprite147{x:799;y:5016;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite148{x:1050;y:4586;scalex:0.66;scaley:0.66;rotation:-54.86;layer:18;image:Stones1.png;}
sprite149{x:774;y:4578;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite150{x:627;y:4117;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite151{x:1243;y:3756;scalex:0.93;scaley:0.93;rotation:-28.37;layer:18;image:Stones1.png;}
sprite152{x:1083;y:3974;layer:18;image:Stones2.png;}
sprite153{x:1275;y:4173;scalex:0.93;scaley:0.93;rotation:-28.37;layer:18;image:Stones1.png;}
sprite154{x:1116;y:4391;layer:18;image:Stones2.png;}
sprite155{x:1307;y:4630;scalex:0.93;scaley:0.93;rotation:-28.37;layer:18;image:Stones1.png;}
sprite156{x:1568;y:4917;rotation:84.83;layer:18;image:Stones2.png;}
sprite157{x:1149;y:4848;layer:18;image:Stones2.png;}
sprite158{x:2318;y:3957;layer:18;image:Stones2.png;}
sprite159{x:2391;y:4383;layer:18;image:Stones2.png;}
sprite160{x:3399;y:4989;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite161{x:3650;y:4559;scalex:0.66;scaley:0.66;rotation:-54.86;layer:18;image:Stones1.png;}
sprite162{x:3374;y:4551;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite163{x:3227;y:4090;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite164{x:3843;y:3729;scalex:0.93;scaley:0.93;rotation:-28.37;layer:18;image:Stones1.png;}
sprite165{x:3683;y:3947;layer:18;image:Stones2.png;}
sprite166{x:3875;y:4146;scalex:0.93;scaley:0.93;rotation:-28.37;layer:18;image:Stones1.png;}
sprite167{x:3716;y:4364;layer:18;image:Stones2.png;}
sprite168{x:3907;y:4603;scalex:0.93;scaley:0.93;rotation:-28.37;layer:18;image:Stones1.png;}
sprite169{x:4159;y:4904;rotation:84.83;layer:18;image:Stones2.png;}
sprite170{x:3749;y:4821;layer:18;image:Stones2.png;}
sprite171{x:4918;y:3930;layer:18;image:Stones2.png;}
sprite172{x:4991;y:4356;layer:18;image:Stones2.png;}
sprite173{x:2491;y:4521;layer:18;image:Stones2.png;}
sprite174{x:5822;y:4155;scalex:0.75;scaley:0.75;rotation:-8.27;layer:18;image:Stones1.png;}
sprite175{x:5453;y:3851;rotation:-60.27;layer:18;image:Stones2.png;}
sprite176{x:5574;y:3983;scalex:0.60;scaley:0.60;layer:18;image:Stones1.png;}
sprite177{x:5643;y:3863;scalex:1.08;scaley:1.08;rotation:65.30;layer:18;image:Stones3.png;}
sprite178{x:5613;y:4038;scalex:0.66;scaley:0.66;rotation:-54.86;layer:18;image:Stones1.png;}
sprite179{x:5079;y:4126;layer:18;image:Stones2.png;}
sprite180{x:5299;y:4055;layer:18;image:Stones2.png;}
sprite181{x:5479;y:4311;rotation:-60.27;layer:18;image:Stones2.png;}
sprite182{x:5600;y:4443;scalex:0.60;scaley:0.60;layer:18;image:Stones1.png;}
sprite183{x:5669;y:4323;scalex:1.08;scaley:1.08;rotation:65.30;layer:18;image:Stones3.png;}
sprite184{x:5639;y:4498;scalex:0.66;scaley:0.66;rotation:-54.86;layer:18;image:Stones1.png;}
sprite185{x:5328;y:4512;layer:18;image:Stones2.png;}
sprite186{x:-794;y:2352;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite187{x:98;y:4156;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite188{x:130;y:4573;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite189{x:162;y:5030;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite190{x:995;y:4637;rotation:-60.27;layer:19;image:Stones2.png;}
sprite191{x:1116;y:4769;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite192{x:1185;y:4649;scalex:1.08;scaley:1.08;rotation:65.30;layer:19;image:Stones3.png;}
sprite193{x:1155;y:4824;scalex:0.66;scaley:0.66;rotation:-54.86;layer:19;image:Stones1.png;}
sprite194{x:858;y:4820;layer:19;image:Stones2.png;}
sprite195{x:970;y:4199;rotation:-60.27;layer:19;image:Stones2.png;}
sprite196{x:1091;y:4331;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite197{x:995;y:4478;rotation:84.83;layer:19;image:Stones2.png;}
sprite198{x:1160;y:4211;scalex:1.08;scaley:1.08;rotation:65.30;layer:19;image:Stones3.png;}
sprite199{x:599;y:4497;layer:19;image:Stones2.png;}
sprite200{x:833;y:4382;layer:19;image:Stones2.png;}
sprite201{x:823;y:3738;rotation:-60.27;layer:19;image:Stones2.png;}
sprite202{x:944;y:3870;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite203{x:804;y:4020;rotation:84.83;layer:19;image:Stones2.png;}
sprite204{x:1013;y:3750;scalex:1.08;scaley:1.08;rotation:65.30;layer:19;image:Stones3.png;}
sprite205{x:983;y:3925;scalex:0.66;scaley:0.66;rotation:-54.86;layer:19;image:Stones1.png;}
sprite206{x:686;y:3921;layer:19;image:Stones2.png;}
sprite207{x:2698;y:4129;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite208{x:2548;y:4658;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite209{x:2627;y:4924;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite210{x:3595;y:4610;rotation:-60.27;layer:19;image:Stones2.png;}
sprite211{x:3716;y:4742;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite212{x:3785;y:4622;scalex:1.08;scaley:1.08;rotation:65.30;layer:19;image:Stones3.png;}
sprite213{x:3755;y:4797;scalex:0.66;scaley:0.66;rotation:-54.86;layer:19;image:Stones1.png;}
sprite214{x:3439;y:4801;layer:19;image:Stones2.png;}
sprite215{x:3570;y:4172;rotation:-60.27;layer:19;image:Stones2.png;}
sprite216{x:3691;y:4304;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite217{x:3595;y:4451;rotation:84.83;layer:19;image:Stones2.png;}
sprite218{x:3760;y:4184;scalex:1.08;scaley:1.08;rotation:65.30;layer:19;image:Stones3.png;}
sprite219{x:3199;y:4470;layer:19;image:Stones2.png;}
sprite220{x:3433;y:4355;layer:19;image:Stones2.png;}
sprite221{x:3544;y:3843;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite222{x:3404;y:3993;rotation:84.83;layer:19;image:Stones2.png;}
sprite223{x:3583;y:3898;scalex:0.66;scaley:0.66;rotation:-54.86;layer:19;image:Stones1.png;}
sprite224{x:3286;y:3894;layer:19;image:Stones2.png;}
sprite225{x:2538;y:4207;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite226{x:2772;y:5013;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite227{x:2740;y:4556;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite228{x:5732;y:3757;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite229{x:6032;y:3809;rotation:-60.27;layer:19;image:Stones2.png;}
sprite230{x:6153;y:3941;scalex:0.60;scaley:0.60;layer:19;image:Stones1.png;}
sprite231{x:6178;y:3763;scalex:1.08;scaley:1.08;rotation:65.30;layer:19;image:Stones3.png;}
sprite232{x:6149;y:4020;scalex:0.66;scaley:0.66;rotation:-54.86;layer:19;image:Stones1.png;}
sprite233{x:5817;y:3956;layer:19;image:Stones2.png;}
sprite234{x:5217;y:3893;scalex:0.93;scaley:0.93;rotation:-28.37;layer:19;image:Stones1.png;}
sprite235{x:5478;y:4180;rotation:84.83;layer:19;image:Stones2.png;}
sprite236{x:5243;y:4353;scalex:0.93;scaley:0.93;rotation:-28.37;layer:19;image:Stones1.png;}
sprite237{x:5504;y:4640;rotation:84.83;layer:19;image:Stones2.png;}
sprite238{x:5101;y:4602;layer:19;image:Stones2.png;}
sprite239{x:5048;y:3758;scalex:0.75;scaley:0.75;rotation:-8.27;layer:19;image:Stones1.png;}
sprite240{x:-598;y:1973;rotation:-60.27;layer:20;image:Stones2.png;}
sprite241{x:-477;y:2105;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite242{x:-408;y:1985;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite243{x:-438;y:2160;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite244{x:-735;y:2156;layer:20;image:Stones2.png;}
sprite245{x:294;y:3777;rotation:-60.27;layer:20;image:Stones2.png;}
sprite246{x:415;y:3909;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite247{x:484;y:3789;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite248{x:454;y:3964;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite249{x:157;y:3960;layer:20;image:Stones2.png;}
sprite250{x:326;y:4194;rotation:-60.27;layer:20;image:Stones2.png;}
sprite251{x:447;y:4326;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite252{x:307;y:4483;rotation:84.83;layer:20;image:Stones2.png;}
sprite253{x:516;y:4206;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite254{x:486;y:4381;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite255{x:189;y:4377;layer:20;image:Stones2.png;}
sprite256{x:358;y:4651;rotation:-60.27;layer:20;image:Stones2.png;}
sprite257{x:479;y:4783;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite258{x:548;y:4663;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite259{x:518;y:4838;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite260{x:221;y:4834;layer:20;image:Stones2.png;}
sprite261{x:759;y:4679;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite262{x:1020;y:4966;rotation:84.83;layer:20;image:Stones2.png;}
sprite263{x:601;y:4897;layer:20;image:Stones2.png;}
sprite264{x:734;y:4251;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite265{x:587;y:3780;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite266{x:429;y:3998;layer:20;image:Stones2.png;}
sprite267{x:2894;y:3750;rotation:-60.27;layer:20;image:Stones2.png;}
sprite268{x:3015;y:3882;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite269{x:3084;y:3762;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite270{x:3054;y:3937;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite271{x:2656;y:3825;layer:20;image:Stones2.png;}
sprite272{x:2926;y:4167;rotation:-60.27;layer:20;image:Stones2.png;}
sprite273{x:3047;y:4299;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite274{x:2907;y:4456;rotation:84.83;layer:20;image:Stones2.png;}
sprite275{x:3116;y:4179;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite276{x:3086;y:4354;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite277{x:2958;y:4624;rotation:-60.27;layer:20;image:Stones2.png;}
sprite278{x:3079;y:4756;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite279{x:3148;y:4636;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite280{x:3118;y:4811;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite281{x:2821;y:4807;layer:20;image:Stones2.png;}
sprite282{x:3359;y:4652;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite283{x:3620;y:4939;rotation:84.83;layer:20;image:Stones2.png;}
sprite284{x:3182;y:4924;layer:20;image:Stones2.png;}
sprite285{x:3334;y:4224;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite286{x:3187;y:3753;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite287{x:3029;y:3971;layer:20;image:Stones2.png;}
sprite288{x:2514;y:4029;layer:20;image:Stones2.png;}
sprite289{x:2799;y:4360;layer:20;image:Stones2.png;}
sprite290{x:2770;y:3964;layer:20;image:Stones2.png;}
sprite291{x:5928;y:3378;rotation:-60.27;layer:20;image:Stones2.png;}
sprite292{x:6049;y:3510;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite293{x:6150;y:3317;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite294{x:6088;y:3565;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite295{x:5758;y:3582;layer:20;image:Stones2.png;}
sprite296{x:5883;y:3710;scalex:0.93;scaley:0.93;rotation:-28.37;layer:20;image:Stones1.png;}
sprite297{x:5635;y:4069;layer:20;image:Stones2.png;}
sprite298{x:5244;y:3379;rotation:-60.27;layer:20;image:Stones2.png;}
sprite299{x:5365;y:3511;scalex:0.60;scaley:0.60;layer:20;image:Stones1.png;}
sprite300{x:5434;y:3391;scalex:1.08;scaley:1.08;rotation:65.30;layer:20;image:Stones3.png;}
sprite301{x:5404;y:3566;scalex:0.66;scaley:0.66;rotation:-54.86;layer:20;image:Stones1.png;}
sprite302{x:5109;y:3594;layer:20;image:Stones2.png;}
sprite303{x:-834;y:2015;scalex:0.93;scaley:0.93;rotation:-28.37;layer:21;image:Stones1.png;}
sprite304{x:-573;y:2302;rotation:84.83;layer:21;image:Stones2.png;}
sprite305{x:-995;y:2233;flipX:1;layer:21;image:Stones2.png;}
sprite306{x:58;y:3819;scalex:0.93;scaley:0.93;rotation:-28.37;layer:21;image:Stones1.png;}
sprite307{x:-102;y:4037;layer:21;image:Stones2.png;}
sprite308{x:90;y:4236;scalex:0.93;scaley:0.93;rotation:-28.37;layer:21;image:Stones1.png;}
sprite309{x:-69;y:4454;layer:21;image:Stones2.png;}
sprite310{x:122;y:4693;scalex:0.93;scaley:0.93;rotation:-28.37;layer:21;image:Stones1.png;}
sprite311{x:383;y:4980;rotation:84.83;layer:21;image:Stones2.png;}
sprite312{x:-36;y:4911;layer:21;image:Stones2.png;}
sprite313{x:2722;y:4666;scalex:0.93;scaley:0.93;rotation:-28.37;layer:21;image:Stones1.png;}
sprite314{x:2983;y:4953;rotation:84.83;layer:21;image:Stones2.png;}
sprite315{x:5692;y:3420;scalex:0.93;scaley:0.93;rotation:-28.37;layer:21;image:Stones1.png;}
sprite316{x:5531;y:3638;layer:21;image:Stones2.png;}
sprite317{x:5045;y:3455;scalex:0.93;scaley:0.93;rotation:-17.64;layer:21;image:Stones1.png;}
sprite318{x:5269;y:3708;rotation:84.83;layer:21;image:Stones2.png;}
sprite319{x:4847;y:3639;layer:21;image:Stones2.png;}
sprite320{x:5399;y:3344;rotation:-9.63;flipX:1;layer:23;image:Wiesengrund.png;}
sprite321{x:3860;y:3593;rotation:-6.03;layer:24;image:Wiesengrund.png;}
sprite322{x:4382;y:3521;rotation:-9.63;flipX:1;layer:24;image:Wiesengrund.png;}
sprite323{x:4887;y:3432;rotation:-9.63;layer:24;image:Wiesengrund.png;}
sprite324{x:2817;y:3665;rotation:-3.52;layer:25;image:Wiesengrund.png;}
sprite325{x:3338;y:3637;rotation:-3.52;layer:25;image:Wiesengrund.png;}
sprite326{x:2299;y:3679;layer:26;image:Wiesengrund.png;}
sprite327{x:743;y:3673;layer:27;image:Wiesengrund.png;}
sprite328{x:1264;y:3675;layer:27;image:Wiesengrund.png;}
sprite329{x:1783;y:3680;layer:27;image:Wiesengrund.png;}
sprite330{x:224;y:3672;layer:28;image:Wiesengrund.png;}
sprite331{x:5913;y:3255;rotation:-9.63;flipX:1;layer:28;image:Wiesengrund.png;}
sprite332{x:6404;y:3264;flipX:1;layer:29;image:Wieseabgerundet.png;}
sprite333{x:1744;y:3375;layer:30;image:Robot11.png;}
