General{Width:2000;Height:1000;Layers:10;Sprites:72;Polys:11;}
sprite1{x:1369;y:693;image:Stones.png;}
sprite2{x:1442;y:692;image:Stones.png;}
sprite3{x:1029;y:577;scalex:0.74;scaley:0.81;rotation:90.00;layer:3;name:platform;image:Ebene 1 Kopie.png;}
sprite4{x:1060;y:663;layer:4;image:Stones.png;}
sprite5{x:1019;y:767;layer:4;image:Stones.png;}
sprite6{x:944;y:770;layer:4;image:Stones.png;}
sprite7{x:1042;y:877;layer:4;image:Stones.png;}
sprite8{x:1033;y:956;layer:4;image:Stones.png;}
sprite9{x:929;y:968;rotation:53.43;layer:4;image:Stones.png;}
sprite10{x:963;y:879;rotation:34.56;layer:4;image:Stones.png;}
sprite11{x:931;y:663;layer:4;image:Stones.png;}
sprite12{x:994;y:663;layer:4;image:Stones.png;}
sprite13{x:23;y:942;layer:5;image:Stones.png;}
sprite14{x:83;y:936;layer:5;image:Stones.png;}
sprite15{x:143;y:917;layer:5;image:Stones.png;}
sprite16{x:206;y:886;layer:5;image:Stones.png;}
sprite17{x:250;y:861;layer:5;image:Stones.png;}
sprite18{x:304;y:820;layer:5;image:Stones.png;}
sprite19{x:354;y:792;layer:5;image:Stones.png;}
sprite20{x:411;y:761;layer:5;image:Stones.png;}
sprite21{x:474;y:736;layer:5;image:Stones.png;}
sprite22{x:543;y:714;layer:5;image:Stones.png;}
sprite23{x:593;y:695;layer:5;image:Stones.png;}
sprite24{x:662;y:682;layer:5;image:Stones.png;}
sprite25{x:722;y:676;layer:5;image:Stones.png;}
sprite26{x:782;y:670;layer:5;image:Stones.png;}
sprite27{x:845;y:670;layer:5;image:Stones.png;}
sprite28{x:911;y:670;layer:5;image:Stones.png;}
sprite29{x:870;y:774;layer:5;image:Stones.png;}
sprite30{x:795;y:777;layer:5;image:Stones.png;}
sprite31{x:713;y:787;layer:5;image:Stones.png;}
sprite32{x:641;y:800;layer:5;image:Stones.png;}
sprite33{x:562;y:819;layer:5;image:Stones.png;}
sprite34{x:490;y:847;layer:5;image:Stones.png;}
sprite35{x:408;y:863;layer:5;image:Stones.png;}
sprite36{x:339;y:910;layer:5;image:Stones.png;}
sprite37{x:257;y:948;layer:5;image:Stones.png;}
sprite38{x:175;y:983;layer:5;image:Stones.png;}
sprite39{x:112;y:1018;layer:5;image:Stones.png;}
sprite40{x:335;y:974;layer:5;image:Stones.png;}
sprite41{x:414;y:974;layer:5;image:Stones.png;}
sprite42{x:474;y:943;layer:5;image:Stones.png;}
sprite43{x:534;y:962;layer:5;image:Stones.png;}
sprite44{x:588;y:953;layer:5;image:Stones.png;}
sprite45{x:629;y:934;layer:5;image:Stones.png;}
sprite46{x:689;y:931;layer:5;image:Stones.png;}
sprite47{x:893;y:884;layer:5;image:Stones.png;}
sprite48{x:884;y:963;layer:5;image:Stones.png;}
sprite49{x:780;y:975;rotation:53.43;layer:5;image:Stones.png;}
sprite50{x:729;y:886;rotation:34.56;layer:5;image:Stones.png;}
sprite51{x:814;y:886;rotation:34.56;layer:5;image:Stones.png;}
sprite52{x:896;y:576;layer:5;image:Stones 5.png;}
sprite53{x:802;y:582;rotation:-8.31;layer:5;image:Stones 5.png;}
sprite54{x:703;y:586;rotation:-8.31;layer:5;image:Stones 5.png;}
sprite55{x:609;y:600;rotation:-16.62;layer:5;image:Stones 5.png;}
sprite56{x:505;y:632;rotation:-16.62;layer:5;image:Stones 5.png;}
sprite57{x:414;y:666;rotation:-25.00;layer:5;image:Stones 5.png;}
sprite58{x:329;y:706;rotation:-25.00;layer:5;image:Stones 5.png;}
sprite59{x:249;y:754;rotation:-33.33;layer:5;image:Stones 5.png;}
sprite60{x:152;y:813;rotation:-33.33;layer:5;image:Stones 5.png;}
sprite61{x:52;y:847;rotation:-16.62;layer:5;image:Stones 5.png;}
sprite62{x:951;y:575;rotation:-8.31;layer:5;image:Stones 5.png;}
sprite63{x:1314;y:606;layer:5;image:Stones 5.png;}
sprite64{x:1409;y:604;layer:5;image:Stones 5.png;}
sprite65{x:1504;y:606;layer:5;image:Stones 5.png;}
sprite66{x:1289;y:699;rotation:-18.62;layer:5;image:Stones.png;}
sprite67{x:1533;y:692;rotation:20.79;layer:5;image:Stones.png;}
sprite68{x:775;y:343;scalex:0.85;scaley:0.85;layer:5;image:Stones 5.png;}
sprite69{x:841;y:350;scalex:0.85;scaley:0.85;layer:5;image:Stones 5.png;}
sprite70{x:924;y:350;scalex:0.85;scaley:0.85;layer:5;image:Stones 5.png;}
sprite71{x:999;y:347;scalex:0.85;scaley:0.85;layer:5;image:Stones 5.png;}
sprite72{x:1045;y:569;layer:6;image:Stones 5.png;}
poly1{data:779,549,1120,549,779,600,1120,600;}
poly2{data:849,394,710,372,857,345,718,323;}
poly3{data:954,1236,1071,1236,954,1286,1071,1286;}
poly4{data:1059,392,846,395,1059,342,846,345;}
poly5{data:550,600,782,550,561,649,793,599;}
poly6{data:400,652,552,600,417,699,569,647;}
poly7{data:243,742,401,652,268,785,426,695;}
poly8{data:97,812,243,742,118,857,264,787;}
poly9{data:-112,844,99,812,-105,893,106,861;}
poly10{data:1248,589,1582,588,1248,639,1582,638;}
poly11{data:20,595,29,854,-27,597,-18,856;}
