General{Width:1000;Height:1000;Layers:10;Sprites:1;Polys:2;}
sprite1{x:499;y:238;scalex:0.66;scaley:0.66;rotation:13.00;image:Probe Charaktere 2.png;}
poly1{data:-78,35,387,149,-90,84,375,198;}
poly2{data:380,149,917,158,380,199,917,208;}
