General{Width:6000;Height:2000;Layers:8;Sprites:214;Polys:7;}
sprite1{x:90;y:604;image:Stones 5.png;}
sprite2{x:247;y:609;image:Stones 5.png;}
sprite3{x:469;y:772;image:Stones 3.png;}
sprite4{x:805;y:686;image:Stones 3.png;}
sprite5{x:540;y:561;image:Baum 4.png;}
sprite6{x:950;y:728;scalex:1.25;scaley:1.25;image:Stones 3.png;}
sprite7{x:35;y:702;image:Stones.png;}
sprite8{x:862;y:768;scalex:1.63;scaley:1.63;image:Stones 2.png;}
sprite9{x:569;y:617;scalex:1.38;scaley:1.08;image:Stones 5.png;}
sprite10{x:690;y:617;image:Stones 5.png;}
sprite11{x:318;y:606;image:Stones 5.png;}
sprite12{x:187;y:725;scalex:1.13;scaley:1.13;image:Stones 3.png;}
sprite13{x:700;y:627;image:Stones 5.png;}
sprite14{x:344;y:778;rotation:36.00;image:Stones 2.png;}
sprite15{x:363;y:890;image:Stones 3.png;}
sprite16{x:116;y:691;image:Stones.png;}
sprite17{x:410;y:612;scalex:0.68;scaley:0.97;image:Stones 5.png;}
sprite18{x:816;y:627;image:Stones 5.png;}
sprite19{x:390;y:799;image:Stones 3.png;}
sprite20{x:931;y:641;image:Stones 5.png;}
sprite21{x:644;y:856;scalex:1.63;scaley:1.63;image:Stones 2.png;}
sprite22{x:150;y:850;rotation:36.00;image:Stones 2.png;}
sprite23{x:468;y:842;image:Stones 3.png;}
sprite24{x:510;y:612;scalex:0.68;scaley:0.97;blue:254;image:Stones 5.png;}
sprite25{x:777;y:765;image:Stones 3.png;}
sprite26{x:843;y:805;image:Stones 2.png;}
sprite27{x:615;y:648;image:Stones 2.png;}
sprite28{x:443;y:394;scalex:0.49;scaley:0.49;image:baum2.png;}
sprite29{x:778;y:820;rotation:36.00;image:Stones 3.png;}
sprite30{x:750;y:737;image:Stones 2.png;}
sprite31{x:864;y:671;scalex:0.93;scaley:0.93;rotation:48.00;image:Stones.png;}
sprite32{x:196;y:871;image:Stones 3.png;}
sprite33{x:184;y:831;image:Stones 3.png;}
sprite34{x:313;y:497;image:Baum 4.png;}
sprite35{x:736;y:729;scalex:1.63;scaley:1.63;image:Stones 2.png;}
sprite36{x:4869;y:1061;scalex:0.56;scaley:0.56;blue:215;image:Hauserbaum.png;}
sprite37{x:292;y:868;rotation:36.00;image:Stones 2.png;}
sprite38{x:193;y:604;image:Stones 5.png;}
sprite39{x:669;y:787;rotation:36.00;image:Stones 3.png;}
sprite40{x:540;y:795;rotation:36.00;image:Stones 3.png;}
sprite41{x:288;y:705;image:Stones 3.png;}
sprite42{x:916;y:748;rotation:15.00;image:Stones.png;}
sprite43{x:621;y:506;image:Baum 4.png;}
sprite44{x:539;y:722;image:Stones 3.png;}
sprite45{x:98;y:781;image:Stones.png;}
sprite46{x:690;y:722;image:Stones 2.png;}
sprite47{x:684;y:535;image:Baum 4.png;}
sprite48{x:475;y:703;image:Stones 3.png;}
sprite49{x:711;y:890;rotation:36.00;image:Stones 3.png;}
sprite50{x:373;y:531;image:Baum 4.png;}
sprite51{x:887;y:846;rotation:15.00;image:Stones.png;}
sprite52{x:232;y:693;image:Stones 2.png;}
sprite53{x:128;y:787;rotation:36.00;image:Stones 3.png;}
sprite54{x:627;y:758;image:Stones 2.png;}
sprite55{x:623;y:700;image:Stones 2.png;}
sprite56{x:406;y:689;image:Stones 3.png;}
sprite57{x:788;y:830;rotation:36.00;image:Stones 3.png;}
sprite58{x:326;y:849;image:Stones 3.png;}
sprite59{x:330;y:697;image:Stones 3.png;}
sprite60{x:678;y:682;image:Stones 2.png;}
sprite61{x:262;y:811;image:Stones 3.png;}
sprite62{x:3829;y:1581;scalex:1.75;scaley:1.75;rotation:-3.71;layer:2;image:Stones.png;}
sprite63{x:3723;y:1584;scalex:1.75;scaley:1.75;rotation:-3.71;layer:2;image:Stones.png;}
sprite64{x:4219;y:1505;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite65{x:4113;y:1508;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite66{x:4576;y:1422;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite67{x:4470;y:1425;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite68{x:5270;y:1182;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite69{x:4979;y:1322;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite70{x:4873;y:1325;scalex:1.75;scaley:1.75;rotation:159.86;layer:2;image:Stones.png;}
sprite71{x:2359;y:980;layer:2;image:Pilz Kopie.png;}
sprite72{x:3005;y:1222;green:146;blue:181;layer:2;image:Pilz Kopie.png;}
sprite73{x:4281;y:1231;scalex:1.25;scaley:1.25;green:146;blue:181;layer:2;image:Pilz Kopie.png;}
sprite74{x:4407;y:1147;scalex:2.50;scaley:2.50;green:124;blue:142;layer:2;image:Pilz Kopie.png;}
sprite75{x:3805;y:1950;scalex:1.75;scaley:1.75;rotation:-11.00;layer:3;image:Stones.png;}
sprite76{x:4013;y:1962;scalex:1.75;scaley:1.75;rotation:-11.00;layer:3;image:Stones.png;}
sprite77{x:3924;y:1994;scalex:1.75;scaley:1.75;rotation:-11.00;layer:3;image:Stones.png;}
sprite78{x:4098;y:1649;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite79{x:4061;y:1855;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite80{x:4356;y:1520;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite81{x:4232;y:1668;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite82{x:4440;y:1680;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite83{x:4351;y:1712;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite84{x:4195;y:1874;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite85{x:4403;y:1886;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite86{x:4314;y:1918;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite87{x:4455;y:1566;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite88{x:4418;y:1772;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite89{x:4713;y:1437;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite90{x:4589;y:1585;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite91{x:4797;y:1597;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite92{x:4708;y:1629;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite93{x:4552;y:1791;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite94{x:4760;y:1803;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite95{x:4671;y:1835;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite96{x:5180;y:1293;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite97{x:5143;y:1499;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite98{x:5438;y:1164;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite99{x:5314;y:1312;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite100{x:5522;y:1324;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite101{x:5433;y:1356;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite102{x:5277;y:1518;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite103{x:5485;y:1530;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite104{x:5396;y:1562;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite105{x:4858;y:1466;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite106{x:4821;y:1672;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite107{x:5116;y:1337;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite108{x:4992;y:1485;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite109{x:5200;y:1497;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite110{x:5111;y:1529;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite111{x:4955;y:1691;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite112{x:5163;y:1703;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite113{x:5074;y:1735;scalex:1.75;scaley:1.75;rotation:159.86;layer:3;image:Stones.png;}
sprite114{x:2274;y:936;layer:3;image:Pilz Kopie.png;}
sprite115{x:2312;y:958;layer:3;image:Pilz Kopie.png;}
sprite116{x:2920;y:1178;red:136;green:191;layer:3;image:Pilz Kopie.png;}
sprite117{x:2958;y:1200;green:179;layer:3;image:Pilz Kopie.png;}
sprite118{x:4380;y:1223;scalex:1.25;scaley:1.25;red:136;green:191;layer:3;image:Pilz Kopie.png;}
sprite119{x:4177;y:1255;scalex:1.25;scaley:1.25;green:179;layer:3;image:Pilz Kopie.png;}
sprite120{x:2089;y:1201;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite121{x:2108;y:1363;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite122{x:2314;y:1265;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite123{x:2195;y:1235;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite124{x:2458;y:1309;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite125{x:2697;y:1437;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite126{x:2581;y:1404;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite127{x:2818;y:1454;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite128{x:2944;y:1510;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite129{x:3034;y:1507;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite130{x:3242;y:1519;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite131{x:3153;y:1551;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite132{x:2084;y:1393;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite133{x:2103;y:1555;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite134{x:2309;y:1457;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite135{x:2190;y:1427;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite136{x:2453;y:1501;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite137{x:2692;y:1629;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite138{x:2576;y:1596;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite139{x:2813;y:1646;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite140{x:2939;y:1702;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite141{x:3029;y:1699;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite142{x:3237;y:1711;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite143{x:3148;y:1743;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite144{x:2047;y:1599;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite145{x:2066;y:1761;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite146{x:2272;y:1663;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite147{x:2153;y:1633;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite148{x:2416;y:1707;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite149{x:2655;y:1835;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite150{x:2539;y:1802;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite151{x:2776;y:1852;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite152{x:2902;y:1908;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite153{x:2992;y:1905;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite154{x:3200;y:1917;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite155{x:3111;y:1949;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite156{x:3584;y:1550;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite157{x:3495;y:1582;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite158{x:3371;y:1730;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite159{x:3579;y:1742;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite160{x:3490;y:1774;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite161{x:3334;y:1936;scalex:1.75;scaley:1.75;rotation:-11.00;layer:3;image:Stones.png;}
sprite162{x:3542;y:1948;scalex:1.75;scaley:1.75;rotation:-11.00;layer:3;image:Stones.png;}
sprite163{x:3453;y:1980;scalex:1.75;scaley:1.75;rotation:-11.00;layer:3;image:Stones.png;}
sprite164{x:3383;y:1543;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite165{x:3708;y:1725;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite166{x:3619;y:1757;scalex:1.75;scaley:1.75;rotation:10.85;layer:3;image:Stones.png;}
sprite167{x:3671;y:1931;scalex:1.75;scaley:1.75;rotation:3.51;layer:3;image:Stones.png;}
sprite168{x:3966;y:1596;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite169{x:3842;y:1744;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite170{x:4050;y:1756;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite171{x:3961;y:1788;scalex:1.75;scaley:1.75;rotation:-3.71;layer:3;image:Stones.png;}
sprite172{x:2171;y:1030;scalex:1.34;scaley:1.34;rotation:6.88;layer:4;image:Stones 5.png;}
sprite173{x:2308;y:1091;scalex:1.34;scaley:1.34;rotation:6.88;layer:4;image:Stones 5.png;}
sprite174{x:2213;y:990;scalex:0.99;scaley:0.99;rotation:14.39;layer:4;image:grass.png;}
sprite175{x:2452;y:1153;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite176{x:2596;y:1213;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite177{x:2746;y:1275;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite178{x:2911;y:1319;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite179{x:3068;y:1346;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite180{x:3225;y:1366;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite181{x:3379;y:1396;scalex:1.34;scaley:1.34;rotation:6.88;layer:5;image:Stones 5.png;}
sprite182{x:3943;y:1051;scalex:0.67;scaley:0.67;red:159;green:237;blue:209;layer:5;image:baum1.png;}
sprite183{x:3558;y:1416;scalex:1.34;scaley:1.34;rotation:6.88;layer:6;image:Stones 5.png;}
sprite184{x:3709;y:1441;scalex:1.34;scaley:1.34;rotation:6.88;layer:6;image:Stones 5.png;}
sprite185{x:3868;y:1455;scalex:1.34;scaley:1.34;rotation:-15.35;layer:6;image:Stones 5.png;}
sprite186{x:4329;y:1351;scalex:1.34;scaley:1.34;rotation:-17.54;layer:6;image:Stones 5.png;}
sprite187{x:4466;y:1323;scalex:1.34;scaley:1.34;rotation:-4.23;layer:6;image:Stones 5.png;}
sprite188{x:4012;y:1427;scalex:1.34;scaley:1.34;rotation:-10.89;layer:6;image:Stones 5.png;}
sprite189{x:4180;y:1388;scalex:1.34;scaley:1.34;rotation:-8.68;layer:7;image:Stones 5.png;}
sprite190{x:4611;y:1307;scalex:1.34;scaley:1.34;rotation:-10.89;layer:7;image:Stones 5.png;}
sprite191{x:4755;y:1274;scalex:1.34;scaley:1.34;rotation:-26.45;layer:7;image:Stones 5.png;}
sprite192{x:4889;y:1223;scalex:1.34;scaley:1.34;rotation:-13.13;layer:7;image:Stones 5.png;}
sprite193{x:5034;y:1175;scalex:1.34;scaley:1.34;rotation:-17.54;layer:7;image:Stones 5.png;}
sprite194{x:5353;y:1056;scalex:1.38;scaley:1.38;rotation:-26.45;layer:7;image:Stones 5.png;}
sprite195{x:5198;y:1105;scalex:1.38;scaley:1.38;rotation:-26.45;layer:7;image:Stones 5.png;}
sprite196{x:2381;y:1074;scalex:0.99;scaley:0.99;rotation:25.70;layer:8;image:grass.png;}
sprite197{x:2488;y:1134;scalex:0.99;scaley:0.99;rotation:25.70;layer:8;image:grass.png;}
sprite198{x:2625;y:1192;scalex:0.99;scaley:0.99;rotation:25.70;layer:8;image:grass.png;}
sprite199{x:2796;y:1270;scalex:0.99;scaley:0.99;rotation:25.70;layer:8;image:grass.png;}
sprite200{x:2962;y:1322;scalex:0.99;scaley:0.99;rotation:17.62;layer:8;image:grass.png;}
sprite201{x:3074;y:1353;scalex:0.99;scaley:0.99;rotation:16.01;layer:8;image:grass.png;}
sprite202{x:3240;y:1375;scalex:0.99;scaley:0.99;rotation:16.01;layer:8;image:grass.png;}
sprite203{x:3353;y:1394;scalex:0.99;scaley:0.99;rotation:16.01;layer:8;image:grass.png;}
sprite204{x:3481;y:1429;scalex:0.99;scaley:0.99;rotation:4.98;layer:8;image:grass.png;}
sprite205{x:3839;y:1456;scalex:0.99;scaley:0.99;rotation:4.98;layer:8;image:grass.png;}
sprite206{x:3642;y:1452;scalex:0.99;scaley:0.99;rotation:4.98;layer:8;image:grass.png;}
sprite207{x:4040;y:1422;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite208{x:4215;y:1378;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite209{x:4393;y:1342;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite210{x:4588;y:1306;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite211{x:4763;y:1248;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite212{x:4954;y:1199;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite213{x:5138;y:1146;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
sprite214{x:5314;y:1056;scalex:0.99;scaley:0.99;rotation:-15.46;layer:8;image:grass.png;}
poly1{data:27,615,763,602,28,649,764,636;}
poly2{data:761,607,1011,642,754,657,1004,692;}
poly3{data:2083,1007,2972,1349,2065,1054,2954,1396;}
poly4{data:2971,1350,3916,1473,2965,1400,3910,1523;}
poly5{data:3896,1476,4357,1364,3908,1525,4369,1413;}
poly6{data:4636,1306,5463,1021,4652,1354,5479,1069;}
poly7{data:4355,1364,4638,1306,4365,1413,4648,1355;}
