General{Width:2000;Height:1000;Layers:10;Sprites:1;SpritesFront:0;Polys:1;Baselines:1;Triggers:1;Particles:0;}
sprite1{x:236;y:101;image:Baum 4.png;}
poly1{data:494,148,594,148,494,197,594,197;}
baseline1{data:206,251,550,251,206,300,550,300;}
trigger1{id:cool;x:268;y:273;radius:250;}
