General{Width:2500;Height:1000;Layers:5;}
sprite1{x:51;y:320;image:Brown Block.png;}
sprite2{x:2037;y:255;image:Brown Block.png;}
sprite3{x:2111;y:253;image:Brown Block.png;}
sprite4{x:124;y:330;image:Brown Block.png;}
sprite5{x:213;y:344;image:Brown Block.png;}
sprite6{x:281;y:354;image:Brown Block.png;}
sprite7{x:342;y:367;image:Brown Block.png;}
sprite8{x:431;y:373;image:Brown Block.png;}
sprite9{x:1064;y:367;scalex:12.00;scaley:0.75;layer:2;image:Brown Block.png;}
sprite10{x:1857;y:314;scalex:1.22;scaley:2.48;rotation:62;image:Brown Block.png;}
sprite11{x:1949;y:258;image:Brown Block.png;}
sprite12{x:669;y:169;scalex:2.27;scaley:2.27;rotation:82;alpha:0.43;red:162;image:Brown Block.png;}
sprite13{x:773;y:171;scalex:2.27;scaley:2.27;rotation:55;alpha:0.43;red:162;image:Brown Block.png;}
sprite14{x:856;y:156;scalex:2.27;scaley:2.27;rotation:-278;alpha:0.43;image:Brown Block.png;}
sprite15{x:785;y:240;scalex:2.27;scaley:2.27;rotation:69;alpha:0.43;red:162;image:Brown Block.png;}
sprite16{x:696;y:244;scalex:2.27;scaley:2.27;rotation:89;alpha:0.43;red:162;image:Brown Block.png;}
sprite17{x:982;y:170;scalex:2.27;scaley:2.27;rotation:82;alpha:0.28;image:Brown Block.png;}
sprite18{x:1086;y:172;scalex:2.27;scaley:2.27;rotation:55;alpha:0.28;red:190;image:Brown Block.png;}
sprite19{x:1169;y:157;scalex:2.27;scaley:2.27;rotation:-278;alpha:0.28;red:190;image:Brown Block.png;}
sprite20{x:1098;y:241;scalex:2.27;scaley:2.27;rotation:69;alpha:0.28;image:Brown Block.png;}
sprite21{x:1009;y:245;scalex:2.27;scaley:2.27;rotation:89;alpha:0.28;image:Brown Block.png;}
sprite22{x:1284;y:169;scalex:2.27;scaley:2.27;rotation:82;alpha:0.18;red:220;image:Brown Block.png;}
sprite23{x:1388;y:171;scalex:2.27;scaley:2.27;rotation:55;alpha:0.18;red:220;image:Brown Block.png;}
sprite24{x:1471;y:156;scalex:2.27;scaley:2.27;rotation:-278;alpha:0.18;red:220;image:Brown Block.png;}
sprite25{x:1400;y:240;scalex:2.27;scaley:2.27;rotation:69;alpha:0.18;red:220;image:Brown Block.png;}
sprite26{x:1311;y:244;scalex:2.27;scaley:2.27;rotation:89;alpha:0.18;red:220;image:Brown Block.png;}
poly1{data:1671,427,428,427,1671,348,428,348;}
poly2{data:506,414,-18,357,513,346,-11,289;}
poly3{data:1926,263,1624,423,1905,222,1603,382;}
poly4{data:2159,265,1904,265,2159,222,1904,222;}
